<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<%@ Page language="c#" Codebehind="CardRegister.aspx.cs" AutoEventWireup="false" Inherits="localhost.Public.CardRegister" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>CardRegister</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<TPE:Template PageTitle="" Runat="Server" ID="Template1" />
			<asp:Label ID="lblCardData" Runat="server">label1</asp:Label>
			<asp:TextBox ID="txtCardData" Runat="server">text1</asp:TextBox>
			<TPE:Template Footer="true" Runat="Server" ID="Template2" />
		</form>
	</body>
</HTML>
