<%
   '*****************************************************************************
   '*   1. File Name       : Public\MB_RC_Specs.aspx                            *
   '*   2. Description     : Rail Car Specifications                            *
   '*			                                                        *
   '*						                                *
   '*   3. Modification Log:                                                    *
   '*     Ver No.       Date          Author             Modification           *
   '*   -----------------------------------------------------------------       *
   '*      1.00       2-27-2004       Xiaoda             Comment                *
   '*                                                                           *
   '*****************************************************************************
%>

<%@ Page Language="VB" %>
<head>
    <title>Railcar Specifications</title>
<LINK href="/styleIE.css" rel=STYLESHEET type=text/css>
</head>


<body bgcolor="#FFFFFF" topmargin=0 leftmargin=0 marginwidth=0 marginheight=0  <%IF InStr(Request.ServerVariables("HTTP_USER_AGENT"), "MSIE") THEN%> document.onmousedown=noclick;onselectstart="return false" oncontextmenu="return false"<%END IF%>>
<center>
<table border=0 cellspacing=0 cellpadding=0 bgcolor="#E8E8E8">
	<tr>
		<td CLASS=S5 colspan=5 bgcolor=#000000><img src=/images/1x1.gif width=3>Rail Car Specifications
		</td>
	</tr>
	<tr>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
		<td width=3><img src=/images/1x1.gif width=1>
		</td>
		<td bgcolor=#E8E8E8 background=/images/misc/trainBg1.gif width=360><br><img src=/images/icons/arRight.gif border=0> Each railcar's content shall be approximately 190,000 lbs. net.<br><img src=/images/icons/arRight.gif border=0> All railcar deliveries shall be in railcars that bear no identifying markings of the manufacture.<br><img src=/images/icons/arRight.gif border=0> The gross weight of each railcar shall be included on the bill of lading.<br>
		</td>
		<td width=3><img src=/images/1x1.gif width=1>
		</td>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
	</tr>
	<tr>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
		<td colspan=3><img src=/images/1x1.gif height=6 width=200>
		</td>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
	</tr>
	<tr>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
		<td colspan=3 align=center><div align=center><input type=button class=tpebutton value='OK' onClick=javascript:window.close()></div>
		</td>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
	</tr>
	<tr>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
		<td colspan=3><img src=/images/1x1.gif height=4 width=200>
		</td>
		<td bgcolor=#000000 width=1><img src=/images/1x1.gif width=1>
		</td>
	</tr>
	<tr>
		<td colspan=5 bgcolor=#000000><img src=/images/1x1.gif height=1 width=200>
		</td>
	</tr>
</table></center>
</body></html>
