<%@ Page Language="c#" AutoEventWireup="True" MasterPageFile="~/MasterPages/TemplateWithoutInstructions.Master" Title="The Plastics Exchange: Commodity Plastic Resin, Buy Resin, Sell Resin, Plastic Materials"%>
<%@ MasterType virtualPath="~/MasterPages/TemplateWithoutInstructions.Master"%>

<asp:Content runat="server" ContentPlaceHolderID=cphMain>
			<div align="center">
				<table cellPadding="0">
					<tr>
						<td>
					        <object type="application/x-shockwave-flash" width="770" height="578" 
							wmode="transparent data="presentation/flvplayer.swf?file=full_version.flv" VIEWASTEXT>
							<param name="movie" value="presentation/flvplayer.swf?file=full_version.flv" />
							<param name="wmode" value="transparent" />
							</object>
						</td>
					<tr>
					</tr>
				</table>
			</div>
</asp:Content>
	