<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="contractinfo.aspx.cs" Inherits="localhost.Forward.contractinfo" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Contract Info</title>
    
    
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <table>
            <tr>
                <td  valign="top" style="width: 559px"><b>Contract Features:</b></td>
            </tr>
            <tr>
                <td  valign="top" style="width: 559px; height: 92px;"><asp:Label runat="server" ID="lblContractFeatures" /> </td>
            </tr>
            <tr>
                <td style="width: 559px"> &nbsp;</td>
            </tr>
            
            <tr>
                <td valign="top" style="width: 559px"><b>Speficic Grades:</b></td>
            </tr>
            <tr>
                <td valign="top" style="width: 559px; height: 86px"><asp:Label runat="server" ID="lblSpecificGrades" /></td>
            </tr>
        </table>
    
    </div>
    </form>
</body>
</html>
