<%@ Page language="c#" Codebehind="Bill_Of_Lading.aspx.cs" AutoEventWireup="false" Inherits="localhost.Administrator.Bill_Of_Lading" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" > 

<html>
  <head>
    <title>Bill_Of_Lading</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </head>
  <body MS_POSITIONING="GridLayout">
	
    <form id="Form1" method="post" runat="server">
     <TPE:Template PageTitle="Contact Us" Runat="Server" ID="Template1"/>
			This page is still under construction.  Yes, I hate doing this but it is only temporary.
	 <TPE:Template Footer="true" Runat="Server" ID="Template2"/>
     </form>
	
  </body>
</html>
