<%@ Page Language="VB" %>
<%@ import Namespace="System.Data.SqlClient" %>
<%@ import Namespace="System.Data" %>
<%@ import Namespace="System.Web.Mail" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<%@ import Namespace="system.io" %>
<form runat="server" id="Form">
    <TPE:Template PageTitle="" Runat="Server" />
    <!--#include FILE="../include/VBLegacy_Code.aspx"-->

<%
'only adminstrator and borker can access this page.
IF Session("Typ")<>"A" AND Session("Typ")<>"B" THEN Response.Redirect ("../default.aspx")

'Database connection
Dim conn as SqlConnection
Dim cmdContent as SQLCommand
Dim Rec0 as SqlDataReader
conn = new SqlConnection(Application("DBconn"))
conn.Open()

Dim Str
DIM i,pFile
IF Request.Form("Id")<>"" THEN
	FOR i=0 TO CInt(Request.Form("Id"))-1

                'To delete news, delete it from NEWS table and the XML file
		IF Request.Form("D"&i)<>"" THEN
		Dim FilePath AS String =  Server.mappath("/News/Current/"&Request.Form("D"&i)&".xml")

		File.Delete(FilePath)
		cmdContent= new SqlCommand("DELETE FROM NEWS WHERE NEWS_ID="&Request.Form("D"&i), conn)
	        cmdContent.ExecuteNonQuery()
		END IF
	NEXT
END IF%>






<!--#INCLUDE FILE="../include/Loading.inc"-->
<SPAN ID=Main name=Main style=' x:0px; y:0px; visibility: hidden'>
<table border=0 cellspacing=0 cellpadding=0>
<tr>
	<td><b>Delete</td>
	<td>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<b>News</td>
	<td><b>Date</td>
	</tr>

<script>

i=0
function L(A,B,C,D,E)
{
	T='</td><td>'
	A.write('<tr',(i%2==0)?'>':' bgcolor=#E8E8E8>',Path.Strg0,'<td><center><input <%IF NOT NN6 THEN%>style="border:0;BACKGROUND-COLOR:TRANSPARENT;"<%END IF%> type=checkbox name=',B,' value=',C,'>',T,'<a href="/Public/News_Template.aspx?Buffer=&Id=',C,'">',unescape(D),'</a>',T,E,'</td>',Path.Strg0,'</tr>')
	i=i+1
}
</script>
<%
i=0
'Quert the current news from NEWS table
cmdContent= new SqlCommand("SELECT NEWS_ID,CONVERT(varchar(12) , NEWS_DATE, 101),NEWS_LABL FROM NEWS ORDER BY NEWS_DATE DESC", conn)
Rec0= cmdContent.ExecuteReader()
While Rec0.Read()



	%>




	<tr bgcolor=#E8E8E8>

		<td><center><input style="border:0;BACKGROUND-COLOR:TRANSPARENT;" type=checkbox name=D<%=i%> value=<%=Rec0(0)%>>
		</td><td>
		<a href="/Public/News_Template.aspx?Buffer=&Id=<%=Rec0(0)%>">
		<%=Rec0(2)%>
		</a>
	</td><td><%=Rec0(1)%></td></tr>




	<%
	i=i+1
End While
Rec0.Close()
Conn.Close()
%>

	<tr height=2 bgcolor=#CCCCCC>
		<td colspan=5 width=1 height=2><%IF NN6 THEN%><img src=/images/1x1.gif width=2 height=2><%END IF%>
		</td>
	</tr>
<input type=hidden name=Id value='<%=i%>'>

</table><br>
<center><input type=button class=tpebutton value='SUBMIT' onClick="Javascript:Form.submit()"></center>
</SPAN>
<TPE:Template Footer="true" Runat="Server" />

</form>
<script>Path.Start(window)</script>
