<%@ Register TagPrefix="dotnet"  Namespace="dotnetCHARTING" Assembly="dotnetCHARTING"%>
<%@ Page language="c#" Codebehind="NPEStat.aspx.cs" AutoEventWireup="false" Inherits="localhost.Administrator.NPEStat" %>

<HTML>
  <HEAD><TITLE>NPE 2006 REPORT</TITLE>
</HEAD>
<BODY>
<form id=mainForm runat="server">&nbsp;&nbsp;&nbsp; 
<DIV align=center>
<dotnet:chart id=Chart runat="server">
<TitleBox Position="Left">
</TitleBox>

<DefaultLegendBox Padding="4" Visible="True" CornerBottomRight="Cut">

<HeaderEntry SortOrder="-1" Visible="False" Value="Value" Name="Name">

<DividerLine Color="Gray">
</DividerLine>

<LabelStyle Font="Arial, 8pt, style=Bold">
</LabelStyle>

</HeaderEntry>

</DefaultLegendBox>

<DefaultTitleBox Visible="True">
</DefaultTitleBox>

<DefaultElement>

<DefaultSubValue>

<Line Color="93, 28, 59" Length="4">
</Line>

</DefaultSubValue>

</DefaultElement>
</dotnet:chart></DIV>
<div align=center>
	<asp:Button id=chart1 Runat="server" Text="Daily"></asp:Button>&nbsp;&nbsp;&nbsp;
	<asp:Button ID="Button1" Runat=server Text=Hourly></asp:Button>
</div>
<asp:label id=lblGarbage Runat="server"></asp:label>

</form>
</BODY>
</HTML>
