<%@ Page language="c#" Codebehind="previewForm.aspx.cs" AutoEventWireup="True" Inherits="localhost.Administrator.previewForm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
		<title>previewForm</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
  </HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<br>
			<asp:Label ID="lblHtmlPlace" Runat="server"></asp:Label>
			<br>
		</form>
	</body>
</HTML>
