<%@ Page Language="c#" CodeBehind="SendEmailDisclaimer.aspx.cs" AutoEventWireup="True" Inherits="localhost.Public.SendEmailDisclaimer" MasterPageFile="~/MasterPages/Menu.Master" %>
<%@ MasterType VirtualPath="~/MasterPages/Menu.Master" %>

<asp:Content runat="server" ContentPlaceHolderID="cphMain">

	<table border="0" cellpadding="10" cellspacing="0" width="780px">
		<tr>
			<td class="Header Color2">
				The process has been correctly submitted. You will receive an email with the 
				report shortly.</td>
				</tr><tr>
			<td align="center" class="LinkNormal"><a href="/administrator/CRM.aspx">Back to 
					CRM</a></td>
		</tr>
	</table>
</asp:Content>