<%@ Register TagPrefix="uc1" TagName="Shipment_Documents" Src="/include/Shipment_Documents.ascx" %>
<%@ Page language="c#" Codebehind="Send_Documents.aspx.cs" AutoEventWireup="True" Inherits="localhost.Administrator.Order_Documents" MasterPageFile="~/MasterPages/Menu.Master" Title="Send Documents" %>
<%@ MasterType VirtualPath="~/MasterPages/Menu.Master" %>

<asp:Content runat="server" ContentPlaceHolderID="cphMain">
<div style="width:780px">
			<center><uc1:Shipment_Documents id="Shipment_Documents1" runat="server"></uc1:Shipment_Documents>
			</center>
</div>
</asp:Content>