<%@ Page Language="VB" %>
<%@ import Namespace="System.Data.SqlClient" %>
<%@ import Namespace="System.Data" %>
<%@ import Namespace="System.Web.Mail" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<form runat="server" id="Form">
    <TPE:Template PageTitle="" Runat="Server" />
<!--#include FILE="../include/VBLegacy_Code.aspx"-->
<!--#INCLUDE FILE="../include/Loading.inc"-->
<DIV id=specs style='position:absolute; width:100%; height:50%; visibility: hidden; overflow: visible;'>

<table border=0 cellspacing=0 cellpading=0 width=100% height=100%><tr><td width=100% height=100%  align=left><left>
<iframe TopMargin=0 RightMargin=0 marginheight=0 border=0 scrolling=no frameborder=0 WIDTH=1020 HEIGHT=530 name=description ></iframe>
</left></td></tr></table>
</DIV>
<!--#INCLUDE FILE="../include/Body.inc"-->
<%
IF Session("Typ")<>"A" AND Session("Typ")<>"B" THEN Response.Redirect ("../default.aspx")
Dim i, j, Locl, Str0, Str1, k, l, Str2, IdOrder, IdComp, Valid, Pers_Id, Cont_Id, Quantity, Price, Size, Mess, Locl0, Locl1, errMsg, strSql,y
Dim c,Ci,o,Str3,Str,Stra,Strb,ordArray,a,Prce
Dim StrL1,StrL2,StrL3,StrL4,StrL5,StrL6,StrL7,StrL8,StrL9,StrL10,StrL11,StrL12,StrL13,StrL14,StrL15,StrL16,StrL17,StrL18,StrL19,StrL20,StrL21,StrL22,StrL23,StrL24,StrL25,StrL26,StrL27,StrL28,supp
'Database connection'
Dim conn as SqlConnection
Dim cmdContent as SQLCommand
Dim Rec0 as SqlDataReader
conn = new SqlConnection(Application("DBconn"))
conn.Open()

Dim Rec2 as SqlDataReader
Dim Rec1 as SqlDataReader
Dim RecM as SqlDataReader
Dim RecB as SqlDataReader
Dim RecC as SqlDataReader
Dim connM as SqlConnection
connM = new SqlConnection(Application("DBconn"))
connM.Open()
Dim conn1 as SqlConnection
conn1 = new SqlConnection(Application("DBconn"))
conn1.Open()
Dim conn2 as SqlConnection
conn2 = new SqlConnection(Application("DBconn"))
conn2.Open()


' This part of code is converted from Include/month.inc,
Dim cmonth,StM0,StM1
cmdContent= new SqlCommand("SELECT FWD_ID,FWDLABL=(FWD_MNTH+' '+RIGHT(CONVERT(varchar,FWD_YEAR),2)), FWD_MNTH, FWD_YEAR FROM FWDMONTH WHERE FWD_ACTV=1 ORDER BY FWD_ID", connM)
RecM= cmdContent.ExecuteReader()
RecM.Read()
IF Request.Form("month")<>"" THEN
	cmonth=Request.Form("month")
ELSEIF Request.Querystring("month")<>"" THEN
	cmonth=Request.Querystring("month")
ELSE
	cmonth=RecM(0)
END IF

StM0=""
StM1=""
RecM.Close()
cmdContent= new SqlCommand("SELECT FWD_ID,FWDLABL=(FWD_MNTH+' '+RIGHT(CONVERT(varchar,FWD_YEAR),2)), FWD_MNTH, FWD_YEAR FROM FWDMONTH WHERE FWD_ACTV=1 ORDER BY FWD_ID", connM)
RecM= cmdContent.ExecuteReader()
While RecM.Read()
        StM0=StM0+"'"&RecM("FWD_ID")&"',"
	StM1=StM1+"'"&RecM("FWDLABL")&"',"

End While
StM0=Left(StM0,Len(StM0)-1)&"),new Array("&Left(StM1,Len(StM1)-1)
RecM.Close

'end of month.inc



IF Request.Form("Valid")<>"" THEN
Dim myArray() As String= split(Request.Form("Valid"),",")

        'Works with multiple offers
FOR c=1 TO UBound(myArray)
	y=myArray(c)
	Application.Lock()
	Application("Flag")=1
	Locl=Split(Request.Form("Place"&(y)&""),",")
	Str = ""
	Str = "Exec spTransactionEngine_S @PersId="&Request.Form("Pers"&(y)&"")&", @ContId="&Request.Form("Contract"&(y)&"")&", @Qty="&Request.Form("Quantity"&(y)&"")&", @Price=0."&Request.Form("Price"&(y)&"")&", @Size="&Request.Form("Size"&(y)&"")&", @Month="&Request.Form("month"&(y)&"")&", @Locl0="+Locl(0).ToString()+", @Locl1="+Locl(1).ToString()+", @CompId="&Request.Form("Comp"&(y)&"")&", @FOB=1, @Brand="&Request.Form("Brand"&(y)&"")&", @IdOrder="&Request.Form("IdOrder"&(y)&"")&", @Gene=1"
        cmdContent= new SqlCommand(Str, conn)
        cmdContent.ExecuteNonQuery()

	'Database Unlock
	Application("Flag")=0
	Application.UnLock()

NEXT

	Response.Redirect("/Common/Common_Working_Orders.aspx")

END IF
%>


<%IF Request.QueryString("ORDS")<>"" THEN%>
<script>
cp=1
function L(F,H,I,J,K,L,Z,A,B,C,D,E,G,M,O,Q)
{
	StrForm='document.Form'
	F.write('<tr',(cp%2==0)?'>':' bgcolor=#E8E8E8>','<td><img src=/images/1x1.gif width=1 height=21></td><td>&nbsp;&nbsp;<input type=hidden name=IDOrder',cp,' value=',J,'><select class=txtInput name=Quantity',cp,'>',Path.SOStrg(0,20,I),'</select></td><td><select class=txtInput name=Size',cp,'><option value=0>Truckloads<option value=1',(K=='True')?' selected':'','>Rail Cars</select></td><td><input type=hidden name=Contract',cp,' value=',H,' title=',L,'><font size=1>',
L,'</font></td><td><input type=hidden name=Brand',cp,' value=',Z,'><font size=1>',O,'</font></td><td><select class=txtInput name=month',cp,'>',Path.SOStrg(new Array(<%=StM0%>),Q),'</td><td><input type=hidden name=Place',cp,' value=',A,'><font size=1>',M,'</font></td><td>$&nbsp;<b>.</b><input type=text name=Price',cp,' maxlength=3 size=3 value=',B,'></td><td><img src=/images/1x1.gif></td><td>Offer #',C ,' Seller: ',G,'</td><input type=hidden name=Pers',cp,' value=',D,'><input type=hidden name=Comp',cp,' value=',E,'></tr>')
	cp=cp+1
}
</script>
<SPAN ID=Main name=Main style=' x:0px; y:0px; visibility: hidden'>

<input type=hidden name=Valid value=''>
<input type=hidden name=Submit value=''>
<table border=0 cellpadding=0 cellspacing=0><br>
	<tr>
		<td colspan=9>
			<table border=0 cellpadding=0 cellspacing=0>
<script>
Path.Menu(new Array('Quantity','Type','Contract','Brand','Month','Location','Price'),new Array('','','','','',''),new Array('60','90','200','120','90','140','60'),'<%IF Request.Form("Search")<>"" AND Request.Form("ShowAll")="" THEN Response.write (Request.Form("Search")) %>',document);
</script>




<script>
<%
ordArray = split(Request.QueryString("ORDS"),",")
 Dim intTempStore

      For i = 0 To UBound(ordArray) - 1
      For j = i To UBound(ordArray)
      if ordArray(i) > ordArray(j) Then
      intTempStore = ordArray(i)
      ordArray(i) = ordArray(j)
      ordArray(j) = intTempStore
      End if
     Next
     Next
Ci=0


  For a=1 TO UBound(ordArray)
  	cmdContent= new SqlCommand("SELECT OFFR_CONT,OFFR_QTY,OFFR_PRCE,OFFR_SIZE, (CONVERT(varchar,OFFR_FROM_LOCL) + ',' + CONVERT(varchar,OFFR_FROM)),OFFR_BRAN,(SELECT CONT_LABL FROM CONTRACT WHERE CONT_ID=OFFR_CONT),OFFR_ID,OFFR_SELR,(SELECT PERS_COMP FROM PERSON WHERE PERS_ID=OFFR_SELR),(SELECT PERS_FRST_NAME+' '+PERS_LAST_NAME FROM PERSON WHERE PERS_ID=OFFR_SELR),(SELECT LOCL_CITY+', '+LOCL_STAT FROM LOCALITY WHERE LOCL_ID=OFFR_FROM_LOCL),(SELECT BRAN_NAME FROM BRAND WHERE BRAN_ID=OFFR_BRAN),OFFR_MNTH FROM OFFER WHERE OFFR_ID="+ordArray(a).ToString()+"", connM)
	RecC= cmdContent.ExecuteReader()
  	RecC.Read()
  	prce=""
	prce=Right(FormatNumber(RecC(2),3,0,-2,-2),3)
	response.write ("L(document,'"+RecC(0).ToString()+"','"+RecC(1).ToString()+"',"+ordArray(a).ToString()+",'"+RecC(3).ToString()+"','"+RecC(6).ToString()+"','"+RecC(5).ToString()+"','"+RecC(4).ToString()+"','"+prce.ToString()+"','"+RecC(7).ToString()+"','"+RecC(8).ToString()+"','"+RecC(9).ToString()+"','"+RecC(10).ToString()+"','"+RecC(11).ToString()+"','"+RecC(12).ToString()+"','"+RecC(13).ToString()+"');")
	Ci=Ci+1
	RecC.Close()
NEXT
%></script>
			</table>
<div align=center><input type=button value=OK class=tpebutton onclick="Javascript:Check()"></div>


</SPAN>
<%ELSE
	response.redirect("/Common/Common_Working_Orders.aspx")
END IF%>

<script>
function Check()
{
	mess='Place the following sell orders:<br>'
	with(<%response.write (N1)%>Form)
	{
	document.Form.Valid.value=''
		for(q=1;q<cp;q++) {
		Price=eval('document.Form.Price'+q+'.value')
		Qty=eval('Quantity'+q+'.options[Quantity'+q+'.options.selectedIndex].text')
		if (( Qty!='0' && Price=='') || (Qty=='0' && Price!=''))
		return Path.Mess(window,'For each valid entry row, please enter a quantity and a price.','0')
		for(j=0;j<Price.length;j++)
				if (Price.charAt(j)<"0"||Price.charAt(j)>"9")
					return Path.Mess(window,'Please, enter a valid price.','0')
		Val=eval("parseFloat(Price)/(Math.pow(10,Price.length-3))*Qty")
		Sze=eval('document.Form.Size'+q+'.value')
		Prce=new
 String(Math.round(Sze=='0'?eval("42*100*Val"):eval("190*100*Val"))/100)

		if (Prce!='NaN' && Price!='' && Price!='0' && Qty!='0')
		document.Form.Valid.value=document.Form.Valid.value+','+q
		Cont=eval('document.Form.Contract'+q+'.title')

		if (Prce!='NaN' && Price!='' && Price!='0' && Qty!='0')
		mess=mess+Qty+(Sze=='0'?' T':' R')+(eval("Qty>1")?'s ':' ')+' of '+Cont+' for $.'+Price+'/lb<br>'
		}
		return Path.Mess(window,mess,'1')
	}
}
function Answer(Flag)
{
	with(<%response.write (N1)%>Form)
		if(Flag)
		{
			Submit.value='Submit'
			submit()
		}
		else
			Valid.value=''
}
</script>
<%
conn.Close()
connM.Close()
conn1.Close()
conn2.Close()
%>

</form>

<script>Path.Start(window)</script>
