<%@ Page Language="VB" %>
<%@ import Namespace="System.Data.SqlClient" %>
<%@ import Namespace="System.Data" %>
<%@ import Namespace="System.Web.Mail" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<form runat="server" id="Form">
    <TPE:Template PageTitle="Delivered Orders" Runat="Server" />
<!--#include FILE="../include/VBLegacy_Code.aspx"-->


<%
IF Session("Typ")<>"T" THEN
If Session("Typ")="A" Then
Else

Response.Redirect ("../default.aspx")
End IF
End IF
'today's date, prepare for the claendar'
Dim myDate
myDate = Format(Now(), "MM/dd/yyyy")



'Database connection'
Dim conn as SqlConnection
Dim cmdContent as SQLCommand
Dim Rec0 as SqlDataReader
conn = new SqlConnection(Application("DBConn"))
conn.Open()

Dim conn1 as SqlConnection
Dim cmdContent1 as SQLCommand
Dim Rec1 as SqlDataReader
conn1 = new SqlConnection(Application("DBConn"))
conn1.Open()


DIM Height,Str,StrBis,MyArray,k,Count,Str2
DIM ThisParam,i,param,Id,CompId
Height=260%>

<!--#INCLUDE FILE="../include/Loading.inc"-->
<!--#INCLUDE FILE="../include/PopUp.inc"-->
<SPAN ID=Main name=Main style=' x:0px; y:0px; visibility: hidden'>
<script>
i=0
function L(A,B,C,D,E,F,G,H,I,J,K,L,N,O,P,Q,S)
{
	T='</td><td>'
	document.write('<tr valign=bottom',(i%47==0)?'>':' bgcolor=#E8E8E8>',Path.Strg0,'<td>',B,T,'<a href="../Common/MB_Specs_User.aspx?Id='+C+'">',D,'</a>',T,E,T,'<a href="../Common/MB_Specs_User.aspx?Id='+F+'">',G,'</a>',T,'<a href="../Common/MB_Specs_Order.aspx?Id='+H+'">',H,'</a>',T,'<a href="../Common/MB_Specs_Location.aspx?Id='+I+'">',J,'</a>&nbsp;&nbsp;&nbsp;',T,'<a href="../Common/MB_Specs_Location.aspx?Id='+K+'">',L,'</a>&nbsp;&nbsp;&nbsp;',T,N,T,S,T,(('00'+(O.getMonth()+1)).substr(('00'+(O.getMonth()+1)).length-2,2)+'/'+('0'+O.getDate()).substr(('0'+O.getDate()).length-2,2)+'/'+O.getYear()),T,(('00'+(P.getMonth()+1)).substr(('00'+(P.getMonth()+1)).length-2,2)+'/'+('0'+P.getDate()).substr(('0'+P.getDate()).length-2,2)+'/'+P.getYear()),T,'&nbsp;',Q,'&nbsp;</td><td bgcolor=#CCCCCC></td></tr>')
	i=i+1
}
</script>
<center>
<table border=0 cellpadding=0 cellspacing=0>
<input type=hidden name=param value='<%=Request.Form("param")%>'>
<input type=hidden name=Column value='<%=Request.Form("Column")%>'>
<input type=hidden name=Order value='<%=Request.Form("Order")%>'>
<input type=hidden name=SearchSubmit value=''>
<input type=hidden name=ShowAll value=''>
<input type=hidden name=Submit value=''>
	<tr>
		<td colspan=14>
			<table border=0 cellpadding=0 cellspacing=0>












<%'---------------------------CALENDAR -----------------------------------------------------'%>
	<tr>
		<td colspan=13><div align=center><br>
			<table border=1 cellspacing=0>
				<tr><%

IF Request.Form("param")="" THEN ThisParam=myDate ELSE ThisParam=Request.Form("param")

StrBis=""
FOR i=-11 TO 0
param=Format(DateAdd("m", i,myDate), "MM/dd/yyyy")


cmdContent= new SqlCommand("SELECT COUNT(*) FROM SHIP WHERE SHIP_DATE_DELI!='NULL' AND SHIP_DATE_DELI IS NOT NULL AND Month('"+Param+"')=Month(SHIP_DATE_DELI) AND Year('"+Param+"')=Year(SHIP_DATE_DELI)", conn)
Rec0= cmdContent.ExecuteReader()
Rec0.Read
IF CStr(param)=CStr(ThisParam) AND Rec0(0)=0 THEN ThisParam=myDate
%><td<%IF CStr(param)=CStr(ThisParam) THEN Response.write (" bgcolor=yellow")%>>&nbsp;


<%IF CInt(Rec0(0))<>0 OR i=0 THEN%>
		<a href=Javascript:document.Form.param.value='<%=param%>';document.Form.submit() class=S4>
		<%
		ELSE
		Response.write ("")
		END IF%>
		<%=MonthName(Month(param),true)%>.&nbsp;<%=Year(param)%></a>&nbsp;
						</td><%
		Rec0.Close()

		IF i=-6 THEN response.write ("</tr><tr>")
	NEXT%>

							</tr>
						</table></div><br>
					</td>
				</tr>
<%'----------------------------------------------------------------------------------------------'%>







































				<tr>
					<td colspan=14><center>
Search:&nbsp;<input type=text name=Search size=8 value='<%IF Request.Form("ShowAll")="" THEN Response.write (Request.Form("Search"))%>'>into
<script>Path.SO(new Array('ALL','VARBID','VARBUYR','ORDR_OFFR','VARSELR','ORDR_ID','VARTO','VARFROM','VARMONTH','SHIP_WGHT','VARTAKEN','VARDEL','SHIP_ID_CH'),new Array('All','#Bid','Buyer','#Offer','Seller','#Trade','Delivery Point','Origin Point','Month','Weight','Date&nbsp;Taken','Date&nbsp;Delivered','Detail'),'<%IF Request.Form("ShowAll")="" THEN Response.write (Request.Form("SearchColumn"))%>',document,'SearchColumn')</script>
<input type=button class=tpebutton value="Search" onClick="Javascript:if(Path.Format(document.Form)==true){Path.Wait(window); document.Form.SearchSubmit.value='Submit';document.Form.submit()}">
<input type=button class=tpebutton value="Show All" onclick="Javascript:Path.Wait(window);document.Form.ShowAll.value='Show';document.Form.submit()">
<br><br>
</center>
					</td>
				</tr>
<script>
Path.Menu(new Array('#Bid','Buyer','#Offer','Seller','#Trade','Delivery Point','Origin Point','Weight','Ship&nbspMonth','Date&nbsp;Taken','Date&nbsp;Delivered','Detail'),new Array('VARBID','VARBUYR','ORDR_OFFR','VARSELR','ORDR_ID','VARTO','VARFROM','VARMONTH','SHIP_WGHT','VARTAKEN','VARDEL','SHIP_ID_CH'),new Array('','','','','','','','','','',''),'<%IF Request.Form("Search")<>"" AND Request.Form("ShowAll")="" THEN Response.write (Request.Form("Search"))%>',document);<%
Str="SELECT * FROM (SELECT *,VARBID=ORDR_BID,CAST(ORDR_ID AS VARCHAR)+'-'+CAST(ORDR_SKU AS VARCHAR) AS ID,VARBUYR=(SELECT PERS_LOGN FROM PERSON WHERE PERS_ID=ORDR_BUYR),VARSELR=(SELECT PERS_LOGN FROM PERSON WHERE PERS_ID=ORDR_SELR),VARTO=(SELECT LOCL_CITY+', '+LOCL_STAT FROM LOCALITY WHERE LOCL_ID=(SELECT PLAC_LOCL FROM PLACE WHERE PLAC_ID=ORDR_TO)),VARFROM=(SELECT LOCL_CITY+', '+LOCL_STAT FROM LOCALITY WHERE LOCL_ID=(SELECT PLAC_LOCL FROM PLACE WHERE PLAC_ID=ORDR_FROM)),VARTAKEN=ISNULL(SHIP_DATE_TAKE,CONVERT(VARCHAR,GETDATE(),101)),VARDEL=CONVERT(VARCHAR,SHIP_DATE_DELI,101),VARMONTH=(SELECT FWD_MNTH+' '+RIGHT(CONVERT(varchar,FWD_YEAR),2) FROM FWDMONTH WHERE FWD_ID=ORDR_MNTH) FROM SHIP,ORDERS WHERE SHIP_ORDR=ORDR_ID AND SHIP_STAT=3 AND Month('"+ThisParam+"')=Month(SHIP_DATE_DELI) AND Year('"+ThisParam+"')=Year(SHIP_DATE_DELI))Q0"

IF Request.Form("SearchSubmit")<>"" AND Request.Form("ShowAll")="" THEN
	IF Request.Form("SearchColumn")="ALL" THEN
		Str=Str+" WHERE VARTAKEN LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR VARDEL LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR VARFROM LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR VARTO LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR VARSELR LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR VARBUYR LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR VARMONTH LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR VARBID LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR ORDR_OFFR LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR ORDR_ID LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR SHIP_WGHT LIKE '%"+Request.Form("Search")+"%'"
		Str=Str+" OR SHIP_ID_CH LIKE '%"+Request.Form("Search")+"%'"
	ELSE
		Str=Str+" WHERE "+Request.Form("SearchColumn")+" LIKE '%"+Request.Form("Search")+"%'"
	END IF
END IF
Str=Str+" ORDER BY "
IF Request.Form("Column")<>"" THEN
	Str=Str+Request.Form("Column")+" "+Request.Form("Order")
ELSE
	Str=Str+"SHIP_ID DESC"
END IF

cmdContent= new SqlCommand(Str, conn)
Rec0= cmdContent.ExecuteReader()




StrBis=""
count=0
While Rec0.Read()
	%>L('<%=Rec0("SHIP_ID")%>','<%=Rec0("VARBID")%>','<%=Rec0("ORDR_BUYR")%>','<%=Rec0("VARBUYR")%>','<%=Rec0("ORDR_OFFR")%>','<%=Rec0("ORDR_SELR")%>','<%=Rec0("VARSELR")%>','<%=Rec0("ID")%>','<%=Rec0("ORDR_TO")%>','<%=Rec0("VARTO")%>','<%=Rec0("ORDR_FROM")%>','<%=Rec0("VARFROM")%>','<%=Rec0("SHIP_WGHT")%>',<%IF Rec0("VARTAKEN")<>"" THEN Response.write ("new Date('"&Rec0("VARTAKEN")&"')") ELSE Response.write ("''")%>,<%IF Rec0("VARDEL")<>"" THEN Response.write ("new Date('"&Rec0("VARDEL")&"')") ELSE Response.write ("''")%>,'<%=Rec0("SHIP_ID_CH")%>','<%=Rec0("VARMONTH")%>');<%
	StrBis=StrBis+Rec0("SHIP_ID").ToString()&","
	count=count+1

End While
Rec0.Close

StrBis=StrBis+"0"%>
</script>
				<tr>
					<td colspan=15 bgcolor=#CCCCCC>
					</td>
				</tr>
			</table><br>
		</td>
	</tr>
</table></center>
<input type=hidden name=list value='<%=StrBis%>'>
</SPAN>
<TPE:Template Footer="true" Runat="Server" />

</form>
<script>Path.Start(window)</script>

