.StaticMenuItem		{
			
			width:100%;
			text-decoration:none;
			text-align: center;
			color:#333333;
			background-color:none;
			font-size:9px;
			font-weight:bold;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding:3px;
			padding-right:5px;
			padding-left:5px;
			border-right: 1px solid white;
			}

.StaticMenuItemHover {
			
			width:100%;
			text-decoration:none;
			text-align: center;
			color:red;
			background-color:none;
			font-size:9px;
			font-weight:bold;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding:3px;
			padding-right:5px;
			padding-left:5px;
			background-image: url('images/menu/red.gif');
			border-right: 1px solid white;
			}

.DynamicMenuItem	{
			width:100%;
			text-decoration:none;
			color:black;
			background-color:#FAB303;
			font-size:11px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding-left: 3px;
			padding-right: 3px;
			padding-bottom:2px;
			padding-top:2px;
			}

.DynamicMenuItemHover 	{
			width:100%;
			text-decoration:none;
			color:white;
			background-color: #D40000;
			font-size:11px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding-left: 3px;
			padding-right: 3px;
			padding-bottom:2px;
			padding-top:2px;
			}

.SeparatorItem 	{
				background-image: url('images/menu/MenuSeparator.gif');
				}