.Header 	{
		
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 13px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			padding-left: 3px;		
			}

Body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Content 	{
		
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			padding-left: 2px;

			}
			
.ContentWR 	{
		
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;

			}
			

.Bold 		{
		
			font-weight: bold;
		
			}

.Underline 	{
			text-decoration: underline;
}

/* Orange Color */
.Color1 	{
		
			color: #FD9D00;
		
			}

/* Black Color */
.Color2		{

			color: #000000;

			}

/* Red Color */
.Color3 	{

			color: red;

			}

/* White Color */
.Color4 	{

			color: #FFFFFF;
		
			}

/* LightGray Color */
.Color5 	{
		
			color: #333333;
		
			}
		
/* DarkGray Color */
.Color6 	{ 
			color: #666666; 
			}
/* Yellow Color */
.Color7 {
			color: #f3c300
}
/* light gray background */
.BackgroundColor {
		background-color: #dbdcd7
}

.BackgroundColorBlack {
		background-color: #000000
}



.InputForm 	{

			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			background-color: #FFFFFF;
			border: 1px solid #666666;
			}
    
.LinkNormal {
		font-size:12px;
		color: #000000
}

.LinkNormal a { 
		font-weight: bold; 
		color: #000000 
}

.LinkNormal a:link {
	text-decoration:none;
	color: #000000
}

.LinkNormal a:visited {
	text-decoration:none;
	color: #000000
}

.LinkNormal a:hover {
	text-decoration:underline;
	color: #000000
}

.LinkWhite a { 
		font-weight: bold; 
		color: #FFFFFF
}

.LinkWhite a:link {
	text-decoration:none;
	color: #FFFFFF
}

.LinkWhite a:visited {
	text-decoration:none;
	color: #FFFFFF
}

.LinkWhite a:hover {
	text-decoration:underline;
	color: #FFFFFF
}

.DivTitleBar
{	
	height:20px;
	background-repeat: no-repeat;
	background-color:Black;
	background-align:left;
	background-image: url('/images2/careers/blackbar_arrow.jpg');
	padding-left:30px;
	text-align:left;
	padding-top:4px;
	vertical-align:middle;
}
.DivTitleBarMenu
{	
	height:20px;
	background-repeat: no-repeat;
	background-color:Black;
	background-align:left;
	background-image: url('/images2/careers/blackbar_arrow.jpg');
	padding-left:30px;
	text-align:left;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align:middle;
}
.DivScrollBarsAdm  { 
                height:400px;
                width: 1024px;
                overflow: auto;
                }
.DivScrollBarsUser  { 
                height:300px;
                width: 780px;
                overflow: auto;
                }


/* Row Colors */
.LightGray {background-color:#EEEEEE; line-height:16px}
.DarkGray {background-color:#D9D7D3; line-height:16px}
.OrangeColor {background-color:#FD9D00;}
.FooterColor {background-color:#333333; line-height:16px}

/*Align*/
.TextJustify {text-align:left;}



.ajax__tab_yuitabview-theme .ajax__tab_header 
{
    font-family:arial,helvetica,clean,sans-serif;
    font-size:8pt;
    border-bottom:solid 3px #FFA500;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_outer 
{
    background:#d8d8d8 repeat-x;
    margin:0px 0.1em 0px 0px;
    padding:0px 0px 0px 0px;
    vertical-align:bottom;
    border:solid 1px #a3a3a3;
    border-bottom-width:0px;
}
.ajax__tab_yuitabview-theme .ajax__tab_header .ajax__tab_tab
{    
    color:#000;
    padding:0.1em 0.1em;    
    margin-right:0.01em;
}
.ajax__tab_yuitabview-theme .ajax__tab_hover .ajax__tab_outer 
{
    background: #D27676 repeat-x left -1300px;
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_tab 
{
    color:#8E501B;
    font-weight: bold; 
}
.ajax__tab_yuitabview-theme .ajax__tab_active .ajax__tab_outer
{
    background:#FFA500 repeat-x left -1400px;
}
.ajax__tab_yuitabview-theme .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
    padding:0.25em 0.25em;
    background-color:#000000;    
    border:solid 1px #808080;
    border-top-width:0px;
}

#switcher-wrap { position: relative; width:780px; height:155px;}

#one { background: url(../images/SpotTrading.png) #aaa no-repeat; z-index: 2; }
#two { background: url(../images/SpotTrading.png) #aaa no-repeat; }
#three { background: url(../images/MarketIntel.png) #aaa no-repeat; }
#four { background: url(../images/TradeClearing.png) #aaa no-repeat; }
#five { background: url(../images/Registering.png) #aaa no-repeat; }
.image-link { display: block; width: 597px; height: 155px; position: absolute; top: 0; right: 0; }


#one span { position: absolute; left: -3000px; top: 0px; background: url(../images/spottradingleft.png) no-repeat; text-indent:-9999px;}
#two span { position: absolute; left: -184px; top: 0px; background: url(../images/spottradingleft.png) no-repeat; text-indent:-9999px;}
#three span { position: absolute; left: -184px; top: 39px; background: url(../images/MarketIntelleft.png) no-repeat; text-indent:-9999px;}
#four span { position: absolute; left: -184px; top: 78px; background: url(../images/TradingClearingleft.png) no-repeat; text-indent:-9999px;}
#five span { position: absolute; left: -184px; bottom: 0px; background: url(../images/Registerleft.png) no-repeat; text-indent:-9999px;}
.image-link:hover { z-index: 100; }

#one:hover {z-index: 100; }
#two span:hover {z-index: 100;background: url(../images/spottradinglefthover.png) no-repeat; }
#three span:hover {z-index: 100; background: url(../images/MarketIntellefthover.png) no-repeat;}
#four span:hover {z-index: 100; background: url(../images/TradingClearinglefthover.png) no-repeat;}
#five span:hover {z-index: 100; background: url(../images/Registerlefthover.png) no-repeat;}


.image-link span { width: 183px; display: block; height: 38px; padding: 0px; background: #eee; border: 1px solid black; }
.image-link:hover span { background: black; }