<%@ Control Language="c#" AutoEventWireup="True" Codebehind="Box_Template.ascx.cs" Inherits="localhost.include.newBox_Template" TargetSchema="http://schemas.microsoft.com/intellisense/ie5" %>
<link href="/tpe.css" rel="stylesheet" type="text/css">
<!-- Insert content here -->
<table border=0 align="<%=Align%>" bgcolor=<%=bgColor%> cellspacing=0 cellpadding=0 <% if (Width != null) { Response.Write("width=\""+Width+"\"");}  %> >
	<tr>
		<td width="27"><img src="/images2/careers/blackbar_arrow.jpg" width="27" height="24"></td>
		<td width="753" class="titletables"><%=Heading%></td>
	</tr>	
</table>