<%@ Control Language="c#" AutoEventWireup="false" Codebehind="TemplateFooter.ascx.cs" Inherits="localhost.include.TemplateFooter" TargetSchema="http://schemas.microsoft.com/intellisense/ie5"%>

<asp:Panel id="pnFooter" runat="server">
 <!-- begin footer -->
		</td></td>



	            </TR>
	            <tr>
		<td bgcolor="#464646" height="15" colspan="4" align="center">
			<b><a href="/Public/Privacy_Policy.aspx"><font face="Verdana,Arial" size="1" color="white">
					Privacy Statement</a> | 2005 The Plastics Exchange. LLC. | All Rights 
				Reserved. Patent Pending</b></font>
		</td>
	</tr>
	     <!-- begin close container table -->
	       </TD>
	      </Tr>
	  </table>
	  <asp:Literal ID="LivePerson" Visible =true Runat=server></asp:Literal>
	  <!-- end close container table -->

    </body>
</html>
</asp:Panel>