
<%

DIM MSIE, NN6, NN7, N1, N2

MSIE = InStr(Request.ServerVariables("HTTP_USER_AGENT"), "MSIE")<>0
NN6 = InStr(Request.ServerVariables("HTTP_USER_AGENT"), "Netscape6")<>0
NN7 = InStr(Request.ServerVariables("HTTP_USER_AGENT"), "Netscape/7")<>0
IF NOT NN6 AND NOT NN7 AND NOT MSIE THEN
	NN6 = InStr(Request.ServerVariables("HTTP_USER_AGENT"), "Mozilla")<>0
END IF

IF NN6 THEN
	N1 = "window.document."
ELSEIF NN7 THEN
	N1 = "window.document."
ELSEIF MSIE THEN
	N1 = ""
END IF

%>

<!--#INCLUDE FILE="../include/Common IE.inc"-->
<script>
Path=window
</script>
