<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MB_Specs_User.aspx.cs" Inherits="localhost.Common.MB_Specs_User" MasterPageFile="~/MasterPages/Menu.Master" %>
<%@ MasterType virtualPath="~/MasterPages/Menu.Master"%>
<asp:Content ID="Content5" runat="server" ContentPlaceHolderID="cphMain">
<div class="DivTitleBarMenu"><span class="Header Color1 Bold">User Details</span></div>
<br />
	<table border=0 cellpadding=0 cellspacing=0 align="center" class="Content">
		<tr>
			<td width=5>
			</td>
                <asp:Label runat="server" id="lblContent"></asp:Label> 
			<td width=5>
			</td>
		</tr>
		<tr>
			<td colspan=4>
                <br />
                <input type=button class="Content Color2" value='OK' onClick="javascript:history.back()"><br><br>
			</td>
		</tr>
		
	</table>
	<br />
</asp:Content>