<%@ Page language="c#" Codebehind="Dup_Person.aspx.cs" AutoEventWireup="false" Inherits="localhost.Dup_Person" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Dup_Person</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<fieldset>
				<asp:TextBox id="txt2" style="Z-INDEX: 101; LEFT: 496px; POSITION: absolute; TOP: 240px" runat="server"
					Width="96px"></asp:TextBox>
				<asp:Label id="Label2" style="Z-INDEX: 102; LEFT: 496px; POSITION: absolute; TOP: 216px" runat="server">Exchange User</asp:Label>
				<asp:Label id="lbl" style="Z-INDEX: 103; LEFT: 384px; POSITION: absolute; TOP: 184px" runat="server"
					ForeColor="Red" Font-Bold="True" Font-Size="Medium"></asp:Label>
			</fieldset>
			<asp:CheckBox id="cbAccess" style="Z-INDEX: 104; LEFT: 384px; POSITION: absolute; TOP: 288px"
				runat="server" Text="Maintain Broker" ToolTip="Maintain Broker Allocation" Checked="True"></asp:CheckBox>
			<asp:Button id="Button1" style="Z-INDEX: 105; LEFT: 528px; POSITION: absolute; TOP: 280px" runat="server"
				Text="Convert"></asp:Button>
			<asp:TextBox id="txt1" style="Z-INDEX: 106; LEFT: 384px; POSITION: absolute; TOP: 240px" runat="server"
				Width="88px"></asp:TextBox>
			<asp:Label id="Label1" style="Z-INDEX: 107; LEFT: 384px; POSITION: absolute; TOP: 216px" runat="server">To Merge</asp:Label></form>
	</body>
</HTML>
