.Header 	{
		
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			padding-left: 2px;
		
			}

.Content 	{
		
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			padding-left: 2px;

			}

.Bold 		{
		
			font-weight: bold;
		
			}

/* Orange Color */
.Color1 	{
		
			color: #FD9D00;
		
			}

/* Black Color */
.Color2		{

			color: #000000;

			}

/* Red Color */
.Color 3 	{

			color: red;

			}

/* White Color */
.Color4 	{

			color: #FFFFFF;
		
			}

/* LightGray Color */
.Color5 	{
		
			color: #333333;
		
			}
		
/* DarkGray Color */
.Color6 	{ 
			color: #666666; 
			}


.InputForm 	{

			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			background-color: EEEEEE;
			border: 1 px solid #666666;
			}

a:link 		{ text-decoration: bold }
a:hover		{ text-decoration: underline }
