.StaticMenuItem		{
			
			width:100%;
			text-decoration:none;
			color:#333333;
			background-color:none;
			font-size:9px;
			font-weight:bold;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding:3px;
			border-right: 1px solid white;
			}

.StaticMenuItemHover {
			
			width:100%;
			text-decoration:none;
			color:white;
			background-color:none;
			font-size:9px;
			font-weight:bold;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding:3px;
			background-image: url('images/menu/red.gif');
			border-right: 1px solid white;
			}

.DynamicMenuItem	{
			width:100%;
			text-decoration:none;
			color:black;
			background-color:#FAB303;
			font-size:10px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding-left: 2px;
			padding-right: 2px;
			}

.DynamicMenuItemHover 	{
			width:100%;
			text-decoration:none;
			color:white;
			background-color: #D40000;
			font-size:10px;
			font-family:Verdana, Arial, Helvetica, sans-serif;
			padding-left: 2px;
			padding-right: 2px;
			}

.SeparatorItem 	{
				background-image: url('images/menu/MenuSeparator.gif');
				}