<%@ Page Language="C#" validaterequest="false" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<LINK rel="Stylesheet" type="text/css" href="/styles/TPENewStyles.css" />
</head>

<table cellpadding="0" cellspacing="0" width="780px" border="0">
	<tr valign="middle">
		<td><br /><center>
			<table style="background-color:Black" border="0" cellpadding="0" cellspacing="1" width="400">
				
				<tr>
					<td colspan="3" align="left" class="OrangeColor"><span class="Content Bold Color2">Message</span>
					</td>
				</tr>
		
				<tr>
					<td bgcolor="#EEEEEE">
							<span class="Content Color2"><br />
<%
Session["Message"] = "Unavailable.<br><font color=red>Need help? Call us at " + ConfigurationManager.AppSettings["PhoneNumber"].ToString();
if (Session["Message"].ToString() != "")
{
    Response.Write (Session["Message"].ToString());
    Session.Contents.Remove("Message");
}
else
{
    Response.Write (Request.QueryString["Id"].ToString());
}
%>
<div align="center">
<%if ((Request.QueryString["Param"] != null) && (Request.QueryString["Param"].ToString() == "0")) {%>
<input type="button" class="Content Color2" value="OK" onclick="javascript:Path.hide(window,'specs')"><%
} 
else 
{
      if ((Request.QueryString["Param"] != null) && (Request.QueryString["Param"].ToString()=="1")) 
      {
%>
<input class="Content Color2" type="button" value="OK" onclick="javascript:Path.hide(window,'specs');Path.Wait(window.parent);window.parent.Answer(1)">
<input class="Content Color2" type="button" value="CANCEL" onclick="javascript:Path.hide(window,'specs');window.parent.Answer(0)"><%
      } 
      else 
      {%>&nbsp;<%
      }
  }%></div></span>


    </td>
</tr>
</table>
<br /></td>
</tr>
</table>
</html>