<%@ import Namespace="System.Data" %>
<%@ import Namespace="System.Data.SqlClient" %>
<%@ Register TagPrefix="TPE" TagName="Web_Box" Src="/include/Box_Template.ascx" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<%@ Page language="c#" Codebehind="ChangeShipping.aspx.cs" AutoEventWireup="false" Inherits="PlasticsExchange.ChangeShipping" %>
<HTML>
	<HEAD>
		<script language="javascript">
		
		function SetforEditing(img,thisform)
		{
			form11.HId.value=img.alt; 
			form11.submit();
		}
		
		function setBilling(img,thisform)
		{
			form11.BId.value=img.alt; 
		}
		
		function setShipping(img,thisform)
		{
			form11.SId.value=img.alt; 
		}
		function submit( thisform)
		{
			thisform.submit();
		}
		
function ShowName(a,b)
{
//alert(a.alt);
/*
alert(b.alt);
alert(b.length);*/
form11.BId.value=a.alt;
form11.SId.value=a.alt; 
 
}

function bc(d)
{
//alert(d.name);
d.value=d.name;
}
function OpenURL(val)
{
	//window.open("EditLocation.aspx?LocId="+ Loc_Id);
	var Loc_Id;
	Loc_Id=val.name;
	window.open("ShippingDetails.aspx?BId="+ Loc_Id ,"_self" ) ;// target=self );
	
}
		</script>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form name="form11" action="EditLocation.aspx"  method=post>
		<TABLE height="66" cellSpacing="0" cellPadding="0" width="533" border="0" ms_2d_layout="TRUE">
			<TR vAlign="top">
				<TD width="10" height="15"></TD>
				<TD width="136"></TD>
				<TD width="277"></TD>
				<TD width="110"></TD>
			</TR>
			<TR vAlign="top">
				<TD height="24"></TD>
				<TD><TPE:TEMPLATE id="Template1" PageTitle=" Change Shipping" Runat="Server"></TPE:TEMPLATE></TD>
				<TD colSpan="2"><TPE:WEB_BOX id="Web_box1" heading="Change Shipping" runat="server"></TPE:WEB_BOX></TD>
			</TR>
			<TR vAlign="top">
				<TD colSpan="3" height="27"></TD>
				<TD>
					<table height="26" width="109" align="center">
						<tr>
							<td><font color="#0033ff" size="4">Address Book</font></td>
						</tr>
					</table>
				</TD>
			</TR>
			<%

			string StrCmd;
			SqlConnection conn;
			conn = new SqlConnection(Application["DBconn"].ToString());
			conn.Open();		 
			SqlCommand Cmd = new SqlCommand();
			SqlDataAdapter DA = new SqlDataAdapter() ;
			 
			DataTable DT = new DataTable();
			Cmd.CommandType=CommandType.Text;
			Cmd.Connection=conn;
			StrCmd="SELECT DISTINCT PLACE.PLAC_PERS, PLACE.PLAC_ADDR_ONE, PLACE.PLAC_ADDR_TWO, LOCALITY.LOCL_CITY, PLACE.PLAC_ZIP, STATE.STAT_NAME,";
			StrCmd+="COUNTRY.CTRY_NAME,PLACE.PLAC_ID, COMPANY.COMP_NAME  FROM PLACE INNER JOIN LOCALITY ON PLACE.PLAC_LOCL = LOCALITY.LOCL_ID AND PLACE.PLAC_LOCL = LOCALITY.LOCL_ID INNER JOIN ";
			StrCmd+="STATE ON LOCALITY.LOCL_STAT = STATE.STAT_CODE INNER JOIN COUNTRY ON LOCALITY.LOCL_CTRY = COUNTRY.CTRY_CODE INNER JOIN COMPANY ON PLACE.PLAC_COMP = COMPANY.COMP_ID";
			StrCmd+=" Where PLACE.PERS_ID="+Session["ID"].ToString() ;
			Cmd.CommandText=StrCmd;
			DA.SelectCommand= Cmd ;
			//DR = Cmd.ExecuteReader();
			DA.Fill(DT);
  
			Response.Write("<table width=750 cellpadding=0 rightmargin=0 cellspacing=0 align=left border=1 bordercolor=black>");
			
		
		  Response.Write("<INPUT TYPE='hidden' NAME='BId' onfocus='bc(this)'>");
		 Response.Write("<INPUT TYPE='hidden' NAME='HId' onfocus='bc(this)'>"); 
		
		  Response.Write("<INPUT TYPE='hidden' NAME='SId' onfocus='bc(this)'>");
		
		for (int rr=0; rr<=DT.Rows.Count-1; rr++     ) 
			{	
			 
				DataRow ro ;
				ro= DT.Rows[rr]; 			 
				Response.Write("<tr><td>");
				Response.Write("<input type=button value='Bill to This Address' name='"+ro[7]+"' onclick='OpenURL(this)' ><BR>");	
				//Response.Write("<asp:Button id='Button1' style='Z-INDEX: 101; LEFT: 208px; POSITION: absolute; TOP: 112px' runat='server' Text='Button' Width='120px'></asp:Button>)";
				//Response.Write("<asp:Button id='Button"+ro[7]+"' runat='server' Text='Button' ></asp:Button>");
				Response.Write(ro[8]+"<BR>");			
				Response.Write(ro[1]+"<BR>");			
				Response.Write(ro[2]+"<BR>");			
				Response.Write(ro[3]+"<BR>");			
				Response.Write(ro[4]+"<BR>");			
				Response.Write(ro[5]+"<BR>");			
				Response.Write(ro[6]+"<BR>");
				Response.Write("<img src='/images/Edit.jpg' id='Edit"+ro[7]+"' name='Edit"+ro[7]+"' onclick='SetforEditing(this,this.form)'   alt='"+ro[7]+"'  ><BR>");
				Response.Write("<img src='/images/PrimaryForBilling.jpg' id='Bill"+ro[7]+"' onclick='setBilling(this,this.form)'  alt='"+ro[7]+"'  name='Bill"+ro[7]+"'><BR>");
				//Response.Write("<img src='/images/PrimaryForShipping.jpg' id='Ship"+ro[7]+"' onclick='setShipping(this,this.form)' alt='"+ro[7]+"' name='Ship"+ro[7]+"'><BR>");							
				Response.Write("</td>");
				// onclick='Server.Transfer(EditLocation.aspx?LocId="+ro[7]+")'
				//DataRow ro ;
				rr++;
			try
			{
				ro= DT.Rows[rr]; 			
				Response.Write("<td>");
				Response.Write("<input type=button value='Bill to This Address' name='"+ro[7]+"' onclick='OpenURL(this)' ><BR>");	
				Response.Write(ro[8]+"<BR>");			
				Response.Write(ro[1]+"<BR>");			
				Response.Write(ro[2]+"<BR>");			
				Response.Write(ro[3]+"<BR>");			
				Response.Write(ro[4]+"<BR>");			
				Response.Write(ro[5]+"<BR>");			
				Response.Write(ro[6]+"<BR>");
				Response.Write("<img src='/images/Edit.jpg' id='Edit"+ro[7]+"' name='Edit"+ro[7]+"' onclick='SetforEditing(this,this.form)'   alt='"+ro[7]+"'  ><BR>");
				Response.Write("<img src='/images/PrimaryForBilling.jpg' id='Bill"+ro[7]+"' onclick='setBilling(this,this.form)'  alt='"+ro[7]+"'  name='Bill"+ro[7]+"'><BR>");
				//Response.Write("<img src='/images/PrimaryForShipping.jpg' id='Ship"+ro[7]+"' onclick='setShipping(this,this.form)' alt='"+ro[7]+"' name='Ship"+ro[7]+"'><BR>");							
				Response.Write("</td>");
			}
			catch (IndexOutOfRangeException	e)
			{
			
			}
				Response.Write("</tr>");
			
			}
				
				
				Response.Write("</form>");
				Response.Write("<tr><td colspan=2 align=center>");
				Response.Write("<Form id='X1' action='NewLocation.aspx' method=post>");
				Response.Write("<input type=submit value='New Address'>&nbsp");
				Response.Write("</form>");
				Response.Write("<Form id='X2' action='b.aspx' method=post>");	
				Response.Write("<input type=submit value='Back'>&nbsp");	
				Response.Write("</form>");
				
				Response.Write("<Form id='X3' action='Total.aspx' method=post>");
				Response.Write("<input type=submit value='Continue'>");	
				
			

		%>
		</TABLE>
		</TABLE>
		
		
	</body>
</HTML>
