<%@ Page Language="C#" MasterPageFile="~/MasterPages/Menu.Master" AutoEventWireup="true" CodeBehind="GetOldChart.aspx.cs" Inherits="localhost.Spot.GetOldChart" Title="Untitled Page" %>
<asp:Content ID="Content1" ContentPlaceHolderID="cphJavaScript" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="cphCssLink" runat="server">
</asp:Content>



<asp:Content ID="Content3" ContentPlaceHolderID="cphMain" runat="server">


<asp:TextBox runat="server" ID="txtTime" ></asp:TextBox>
<asp:Button runat="server" ID="btnCreateChart" OnClick="btnCreateChart_OnClick" Text="Create Chart" />

</asp:Content>
