@charset "utf-8";
/* CSS Document */

#ShowBuyers { height:30px; width:100%; background:#ccc; clear:both }
#Menu li #Accounts { text-decoration:none; display:block; color:#FFF; background:url(../images/menu-hover-bg.jpg) repeat-x top; } 
#Header { height:46px; background:url(../images/header-46h-bg.jpg) top repeat-x; }
#Main { width:860px; }
#Menu { width:860px; }
#Table { background:#067C72 }
#Clear { height:30px; background:#EEE; }
#Dark { height:30px; background:#D9D7D3; }
#Total { height:30px; background:#333; color:#FFFFFF }
.Text-Account { text-align:center }
