.skin0{
	position:absolute;
	width:165px;
	border:2px solid black;
	background-color:menu;
	font-family:Verdana;
	line-height:20px;
	cursor:default;
	font-size:12px;
	z-index:100;
	visibility:hidden;
}

.menuitems{
	padding-left:10px;
    padding-right:10px;
}
