   #alwaysHide
    {
		font-size:11px;
	    position: relative;
	    top:0;
	    float: right;
	    right:3;
    }

    .dhtmlgoodies_question{	/* Styling question */
	    /* Start layout CSS */		
		font-size:11px;
	    font-weight:bold;
	    text-align:right;
	    color:black;
	    /*width:<% if (Width != null) { Response.Write(Width+"px;");} else {Response.Write("780px;");} %>*/
		width: '100%';
	    margin-bottom:4px;
	    margin-top:2px;
	    height:'18px';
		z-index:1;
    	
	    /* End layout CSS */
    	
	    overflow:hidden;
	    cursor:pointer;
    }

    .dhtmlgoodies_answer{	/* Parent box of slide down content */
	    /* Start layout CSS */
	    width:780px;
    	
	    /* End layout CSS */
    	
	    visibility:hidden;
	    height:0px;
	    overflow:hidden;
	    position:relative;

    }
    .dhtmlgoodies_answer_content{	/* Content that is slided down */
	    padding:1px;
	    /*font-size:0.9em;	*/
	    position:relative;
	    margin-right:35px;
    }
    .showOrHide{
	    color: red;
	    /*font-style:italic;
	    font-weight:normal;*/
    }

    .InstructionBullets
    {
	    border:none;
	    font-size:12px;
	    border: none;
	    width: 700;
	    table-layout:auto;
		margin-top:2px;
	    margin-bottom:8px;
    }

    .blackbold {
	    font-weight: bold;
	    color: #000000;
	    padding-left: 2px;
	    padding-right: 2px;
    }
    .redbold {
	    font-weight: bold;
	    color: red;
	    padding-left: 2px;
	    padding-right: 2px;
    }
	#menu 
	{ 
	    Z-INDEX: 1; 
	    LEFT: 351px; 
	    VISIBILITY: hidden; 
	    WIDTH: 128px; 
	    POSITION: absolute; 
	    TOP: 10px; 
	    HEIGHT: 97px 
	}
	#Layer1 
	{ 
	    Z-INDEX: 1; 
	    LEFT: 124px; 
	    WIDTH: 779px; 
	    POSITION: absolute; 
	    TOP: 124px; 
	    HEIGHT: 155px 
	}
.black_underline a:link { color: black; text-decoration:none; }
.black_underline a:visited { color: black; text-decoration:none; }
.black_underline a:hover { color: black; text-decoration:underline; }
