@charset "utf-8";
/* CSS Document */
* { padding:0px; border:0px; margin:0 }
html { height:100% }
body { height:100% }
#Main { clear:both; width:928px; height:auto; min-height:400px; background:#FFFFFF; border:1px solid #75736E; margin:0px auto }
#LogoHeader { clear: both; width:100%; height:120px; background:#405479; }
#Spacer { width:100%; background:#B2BFA4; height:6px; clear:both }
#Menu { width:928px; height:30px; border-top:1px solid #067C72; border-bottom:1px solid #067C72; clear:both; background:url(../images/menu-bg.jpg) repeat-x top; }
#Menu ul { float:left; list-style:none; display:block }
#Menu ul li { float:left; display:block; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:13px; line-height:30px; vertical-align:middle }
#Menu ul li a { display:block; width:180px; text-align:center; font-family:Arial, Helvetica, sans-serif; color:#FFFFFF; font-size:13px; font-weight:bold; line-height:30px; vertical-align:middle }
#Menu ul li a:link, #Menu ul li a:visited, #Menu ul li a:active { text-decoration:none; color:#FFFFFF; display:block }
#Menu ul li a:hover { text-decoration:none; display:block; color:#FFF; background:url(../images/menu-hover-bg.jpg) repeat-x top; }  
#PhoneNumber { float:right; background:url(../images/phone-bg.jpg) top repeat-x; height:30px; width:135px; line-height:30px; font-weight:bold  }
#TitleBar { width:100%; height:25px; clear:both; background:#067C72; line-height:25px; vertical-align:middle }
/* Text */

h1 { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#FFFFFF; text-align:left; padding-left:4px; }
h2 { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; text-align:center; }
h3 { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; text-align:center; }

.Phone { font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000; text-align:left; padding-left:4px; float:left }
p { padding:4px; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#000000; text-align:left }
p a { text-decoration:none; color:#0066FF }
p a:link, p a:visited; p a:active { text-decoration:none; color:#0066FF }
p a:hover { text-decoration:underline; color:#333333 }
.TextForms { line-height:22px; vertical-align:middle;}
.form-style { font-family:Arial, Helvetica, sans-serif; margin-left:4px; font-size:12px; border:1px solid #333;}
.form-style-input { font-family:Arial, Helvetica, sans-serif; font-size:12px; height:22px; border:1px solid #333; margin-left:4px;  }

/* Footer */

#Footer { clear:both; width:100%; background:#3F5478; height:20px; border-top:1px solid #067C72; font-family:Arial, Helvetica, sans-serif; font-size:10px; color:#FFF; line-height:20px; vertical-align:middle; text-align:center }

/* Menu Div */

.MarketPlace {
width:180px;
height:auto;
z-index: 50;
position: absolute; 
top: 158px; 
margin:auto; 
margin-left: -430px; 
visibility: hidden; 
left: 50%;
}
#MarketPlace ul { float:left; list-style:none; display:block }
#MarketPlace li a { display:block; width:180px; background:url(../images/menu-bg.jpg) top repeat-x; font-family:Arial, Helvetica, sans-serif; line-height:30px; height:30px; color:#FFFFFF; font-size:12px; text-align:left; text-decoration:none; border-bottom:1px thin #FFF }
#MarketPlace li a:link, #MarketPlace li a:visited, #MarketPlace li a:active { text-decoration:none; display:block; color:#FFFFFF }
#MarketPlace li a:hover { background:#333333; text-decoration:none; color:#FFFFFF }