@charset "utf-8";
/* CSS Document */
#Buyer { width:296px; height:300px; background:url(../images/order-form-blue-bg.jpg) bottom repeat-x; clear:both; float:left; border-top:1px solid #067C72; border-bottom:1px solid #067C72; border-right:1px solid #067C72}
#Contract { width:334px; height:300px; background:url(../images/order-form-blue-bg.jpg) bottom repeat-x; float:left; border-top:1px solid #067C72; border-bottom:1px solid #067C72; border-right:1px solid #067C72 }
#Seller { width:296px; height:300px; background:url(../images/order-form-blue-bg.jpg) bottom repeat-x; float:left; border-top:1px solid #067C72; border-bottom:1px solid #067C72}

/* Title */
#TitleDiv { background:url(../images/header-22px.jpg) top repeat-x; border-bottom:1px solid #067C72; width:100%; text-align:center; line-height:22px; vertical-align:middle }

#Menu li #home { text-decoration:none; display:block; color:#FFF; background:url(../images/menu-hover-bg.jpg) repeat-x top; } 
#ButtonFind { width:80px; height:20px; border:2px solid #000; line-height:20px; vertical-align:middle; color:#FFFFFF; margin:0 auto  }
#ButtonFind a { display:block; text-align:center; vertical-align:middle; color:#000; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/continue-button-bg.jpg) repeat-x top; text-decoration:none; font-weight:bold }
#ButtonFind a:link, #ButtonFind a:visited, #ButtonFind a:active, { display:block; text-align:center; vertical-align:middle; color:#FFFFFF; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/button-find-bg.jpg) repeat-x top; text-decoration:none; font-weight:bold }
#ButtonFind a:hover { display:block; text-align:center; vertical-align:middle; color:#FFFFFF; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#000; text-decoration:none; font-weight:bold }