@charset "utf-8";
/* CSS Document */

#GrayBar { height:60px; width:100%; background:#ccc; clear:both }
#Menu li #home { text-decoration:none; display:block; color:#FFF; background:url(../images/menu-hover-bg.jpg) repeat-x top; } 
#Header { height:22px; background:url(../images/header-22px.jpg) bottom repeat-x; }
#Main { width:800px; }
#Menu { width:800px; }
#Table { background:#067C72 }
#Clear { height:30px; background:#EEE; }
#Dark { height:30px; background:#D9D7D3; }
#Total { height:30px; background:#333; color:#FFFFFF }
.Text-Account { text-align:center }
#OrderEntry { float:left; margin-top:5px; width:261px; height:301px; background:url(../images/order-form-blue-bg.jpg) bottom repeat-x; border-top:1px solid #067C72; border-right:1px solid #067C72; border-bottom:1px solid #067C72 }
#TableDiv { clear:both; float:left; margin-left:5px; margin-top:5px; height:auto; width:529px }
#TitleOrderEntry { height:22px; width:100%; background:url(../images/header-22px.jpg) top repeat-x; border-bottom:1px solid #067C72; line-height:22px; vertical-align:middle }
#ButtonFind { width:80px; height:20px; border:2px solid #000; line-height:20px; vertical-align:middle; color:#FFFFFF; margin:0 auto  }
#ButtonFind a { display:block; text-align:center; vertical-align:middle; color:#000; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/continue-button-bg.jpg) repeat-x top; text-decoration:none; font-weight:bold }
#ButtonFind a:link, #ButtonFind a:visited, #ButtonFind a:active, { display:block; text-align:center; vertical-align:middle; color:#FFFFFF; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/button-find-bg.jpg) repeat-x top; text-decoration:none; font-weight:bold }
#ButtonFind a:hover { display:block; text-align:center; vertical-align:middle; color:#FFFFFF; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#000; text-decoration:none; font-weight:bold }