@charset "utf-8";
/* CSS Document */

#GrayBar { height:60px; width:100%; background:#ccc; clear:both }
#Menu li #home { text-decoration:none; display:block; color:#FFF; background:url(../images/menu-hover-bg.jpg) repeat-x top; } 
#Header { height:22px; background:url(../images/header-22px.jpg) top repeat-x; }
#Main { width:1068px; }
#Menu { width:1068px; }
#Table { background:#067C72 }
#Clear { height:30px; background:#EEE; }
#Dark { height:30px; background:#D9D7D3; }
#Total { height:30px; background:#333; color:#FFFFFF }
.Text-Account { text-align:center }
#ButtonFind { width:80px; height:20px; border:2px solid #000000; line-height:20px; vertical-align:middle; color:#FFFFFF;  }
#ButtonFind a { display:block; text-align:center; vertical-align:middle; color:#FFFFFF; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/button-find-bg.jpg) repeat-x top; text-decoration:none; font-weight:bold }
#ButtonFind a:link, #ButtonFind a:visited, #ButtonFind a:active, { display:block; text-align:center; vertical-align:middle; color:#FFFFFF; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:url(../images/button-find-bg.jpg) repeat-x top; text-decoration:none; font-weight:bold }
#ButtonFind a:hover { display:block; text-align:center; vertical-align:middle; color:#FFFFFF; line-height:20px; font-family:Arial, Helvetica, sans-serif; font-size:12px; background:#000; text-decoration:none; font-weight:bold }
