    .menuwhite {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 11px;
	    font-style: normal;
	    line-height: normal;
	    font-weight: bold;
	    font-variant: normal;
	    color: #FFFFFF;
	    text-decoration: none;
	    padding-left: 2px;
    }

    .loggedname {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 10px;
	    font-style: normal;
	    font-weight: bold;
	    color: #FFFF00;
    }

    .webboxheading {
	    font-family: Verdana, Arial, Helvetica, sans-serif;
	    font-size: 12px;
	    font-style: normal;
	    line-height: normal;
	    font-weight: bold;
	    font-variant: normal;
	    color: #FF9900;
	    padding-left: 2px;
    }

    /* style for login/password text boxes */
    .formzindex {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 10px;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        background-color: #dbdcd7;
        border:solid 1px #333333;
		margin-botton:2px;
    } 

    body
    {
	    margin:0px;	
    }

	.border 
	{	    
		border: black 1px solid; 	
    }
    
	.ForgotPassword
	{
		font-size:10px;
		font-weight:bold;
	}
.ForgotPassword a:Link {
		text-decoration:none;
}
.ForgotPassword a:Visited {
		text-decoration:none;
}
.ForgotPassword a:Hover {
		text-decoration:underline;
}
