.Header 	{
		
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 13px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			padding-left: 3px;		
			}

Body {
		font-family: Verdana, Arial, Helvetica, sans-serif;
}

.Content 	{
		
			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			padding-left: 2px;

			}

.Bold 		{
		
			font-weight: bold;
		
			}

.Underline 	{
			text-decoration: underline;
}

/* Orange Color */
.Color1 	{
		
			color: #FD9D00;
		
			}

/* Black Color */
.Color2		{

			color: #000000;

			}

/* Red Color */
.Color3 	{

			color: red;

			}

/* White Color */
.Color4 	{

			color: #FFFFFF;
		
			}

/* LightGray Color */
.Color5 	{
		
			color: #333333;
		
			}
		
/* DarkGray Color */
.Color6 	{ 
			color: #666666; 
			}
/* Yellow Color */
.Color7 {
			color: #f3c300
}
/* light gray background */
.BackgroundColor {
		background-color: #dbdcd7
}

.InputForm 	{

			font-family: Verdana, Arial, Helvetica, sans-serif;
			font-size: 12px;
			font-style: normal;
			line-height: normal;
			font-variant: normal;
			background-color: #FFFFFF;
			border: 1px solid #666666;
			}
    
.LinkNormal {
		font-size:12px;
		color: #000000
}

.LinkNormal a { 
		font-weight: bold; 
		color: #000000 
}

.LinkNormal a:link {
	text-decoration:none;
	color: #000000
}

.LinkNormal a:visited {
	text-decoration:none;
	color: #000000
}

.LinkNormal a:hover {
	text-decoration:underline;
	color: #000000
}

.LinkWhite a { 
		font-weight: bold; 
		color: #FFFFFF
}

.LinkWhite a:link {
	text-decoration:none;
	color: #FFFFFF
}

.LinkWhite a:visited {
	text-decoration:none;
	color: #FFFFFF
}

.LinkWhite a:hover {
	text-decoration:underline;
	color: #FFFFFF
}

.DivTitleBar
{	
	height:20px;
	background-repeat: no-repeat;
	background-color:Black;
	background-align:left;
	background-image: url('/images2/careers/blackbar_arrow.jpg');
	padding-left:30px;
	text-align:left;
	padding-top:4px;
	vertical-align:middle;
}
.DivTitleBarMenu
{	
	height:20px;
	background-repeat: no-repeat;
	background-color:Black;
	background-align:left;
	background-image: url('/images2/careers/blackbar_arrow.jpg');
	padding-left:30px;
	text-align:left;
	padding-top:2px;
	padding-bottom:2px;
	vertical-align:middle;
}
.DivScrollBarsAdm  { 
                height:400px;
                width: 1024px;
                overflow: auto;
                }
.DivScrollBarsUser  { 
                height:300px;
                width: 780px;
                overflow: auto;
                }


/* Row Colors */
.LightGray {background-color:#EEEEEE; line-height:16px}
.DarkGray {background-color:#D9D7D3; line-height:16px}
.OrangeColor {background-color:#FD9D00;}
.FooterColor {background-color:#333333; line-height:16px}

/*Align*/
.TextJustify {text-align:left;}


