<%@ Register TagPrefix="TPE" TagName="Template" Src="include/Template.ascx" %>
<%@ Page language="c#" Codebehind="UnderConstruction.aspx.cs" AutoEventWireup="false" Inherits="localhost.UnderConstruction" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>UnderConstruction</title>
    <meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
    <meta name="CODE_LANGUAGE" Content="C#">
    <meta name=vs_defaultClientScript content="JavaScript">
    <meta name=vs_targetSchema content="http://schemas.microsoft.com/intellisense/ie5">
  </HEAD>
  <body MS_POSITIONING="GridLayout">
	
    <form id="Form1" method="post" runat="server">
	<TPE:TEMPLATE id=Template1 PageTitle="News" Runat="server" Width=780></TPE:TEMPLATE>    
	<br>
	<font color=red>
	We are currently updating our SERVER.<br>
	Please check back in 20 minutes.
	<br><br>
	Sorry for inconvenience
	</font>
	<br><br>
    <TPE:Template Footer="true" Runat="server" id="Template2" />
    </form>
	
  </body>
</HTML>
