<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="MobileMU.aspx.cs" Inherits="localhost.Public.Mobile.MU" %>

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML Basic 1.1//EN" "http://www.w3.org/TR/xhtml-basic/xhtml-basic11.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Market Updates</title>
    <style type="text/css">
	    p {text-align:justify; }				
	</style> 
</head>
<body>
    <form id="form1" runat="server">
    <table cellspacing="0" cellpadding="0" width="300" align="left" style="background-color:#333333; " border="0">
        <tbody>
            <tr>
                <td>
                    <asp:Image runat="server" ImageUrl="~/Public/Mobile/TPE.png"  width="300" />
                    <p><asp:Label ID="lblMU" ForeColor="white" runat="server" ></asp:Label></p>            
                </td>
            </tr>
        </tbody>
    </table>
    
    </form>
</body>
</html>
