<%@ Register TagPrefix="uc1" TagName="Shipment_Documents" Src="/include/Shipment_Documents.ascx" %>
<%@ Page language="c#" Codebehind="Email_Shipment_Documents.aspx.cs" AutoEventWireup="false" Inherits="localhost.Administrator.Email_Shipment_Documents" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Email_Shipment_Documents</title>
		<meta name="GENERATOR" Content="Microsoft Visual Studio .NET 7.1">
		<meta name="CODE_LANGUAGE" Content="C#">
		<meta name="vs_defaultClientScript" content="JavaScript">
		<meta name="vs_targetSchema" content="http://schemas.microsoft.com/intellisense/ie5">
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<uc1:Shipment_Documents id="Shipment_Documents1" typeDocument="4" runat="server"></uc1:Shipment_Documents>
		</form>
	</body>
</HTML>
