<%@ Page language="c#" Codebehind="EmailSystem.aspx.cs" AutoEventWireup="True" Inherits="localhost.EmailSystem" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>Email Preview</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
	</HEAD>
	<BODY style="FONT: 10pt ARIAL" bottomMargin="0" bgColor="#ffffff" leftMargin="0" topMargin="0"
		rightMargin="0">
		<FORM id="Form1" method="post" runat="server">
			<TABLE id="Table2" cellSpacing="1" cellPadding="1" width="100%" border="0">
				<TR>
					<TD width="5%"></TD>
				</TR>
				<TR>
					<TD><asp:literal id="EmailBody" runat="server"></asp:literal></TD>
				</TR>
				<TR>
					<TD width="5%"></TD>
				</TR>
			</TABLE>
		</FORM>
	</BODY>
</HTML>
