<%@ Page language="c#" Codebehind="Manage_International_Frieght.aspx.cs" AutoEventWireup="True" Inherits="localhost.Administrator.Manage_International_Frieght" Title="Manage_International_Frieght" MasterPageFile="~/MasterPages/Menu.Master" %>
<%@ MasterType virtualPath="~/MasterPages/Menu.Master"%>
<asp:Content ID="Content5" runat="server" ContentPlaceHolderID="cphMain">	

<div class="DivTitleBarMenu"><span class="Header Color1 Bold">International Shipping Matrix</span></div>
<asp:Table Width="100%" id="tblDynamic" runat="server" BorderStyle="None" CellSpacing="1" BackColor="#000000" BorderWidth="0" GridLines="Horizontal"></asp:Table>
<center><asp:Button id="btnUpdate"  CssClass="Content Color2" runat="server" Text="Update" onclick="btnUpdate_Click"></asp:Button></center>
</asp:Content>