<%@ Page Language="VB" %>
<%@ import Namespace="System.Data.SqlClient" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<%@ Register TagPrefix="TPE" TagName="Web_Box" Src="/include/Box_Template.ascx" %>
<%@ import Namespace="System.Data" %>

<form runat="server" id="Form">
    <TPE:Template PageTitle="" Runat="Server" />

<%
IF Session("Typ")<>"A" AND Session("Typ")<>"B" THEN Response.Redirect("../default.aspx")
Dim Id,i,chk
Dim conn as SqlConnection
Dim cmdContent as SQLCommand
Dim Rec0 as SqlDataReader
conn = new SqlConnection(Application("DBconn"))
conn.Open()

Dim conn1 as SqlConnection
Dim cmdContent1 as SQLCommand
Dim Rec1 as SqlDataReader
conn1 = new SqlConnection(Application("DBconn"))
conn1.Open()


IF Request.Form("Submit")="Submit" THEN
'save the comment in COMPCOMM table under Genius database

cmdContent= new SqlCommand("INSERT INTO COMPCOMM (CMNT_COMP,CMNT_TEXT,CMNT_DATE) VALUES ("&Request.QueryString("Id")&",'"&Left(Request.Form("Comment"),750)&"',getDate())", conn)
cmdContent.ExecuteNonQuery()
conn.Close()
Response.Redirect("/Administrator/Company_Management.aspx")
END IF
%>


<!--#include FILE="../include/VBLegacy_Code.aspx"-->
<!--#INCLUDE FILE="../include/Loading.inc"-->
<!--#INCLUDE FILE="../include/PopUp.inc"-->
<SPAN ID=Main name=Main style=' x:0px; y:0px; visibility: hidden'>
<script>
function Check(A)
{
	with(A)
	{
		for(j=0;j<Comment.value.length;j++)
			if (Comment.value.charAt(j)=="'")
		return Path.Mess(window,'No quotes are allowed in this field.','0')
	}
	return true
}
</script>
<TPE:Web_Box Heading="Company Comment" Runat="Server" />
<input type=hidden name=Submit value=''>
<table cellpadding=0 cellspacing=0 width=100% border=0>
<%


cmdContent1= new SqlCommand("SELECT NAME=COMP_NAME FROM COMPANY WHERE COMP_ID="&Request.QueryString("Id"), conn1)
Rec1= cmdContent1.ExecuteReader()
Rec1.Read()
%>


<%IF NN6 THEN%>
	<tr>
		<td colspan=2><img src=/images/1x1.gif height=1 width=600>
		</td>
	</tr>
<%END IF%>
	<tr valign=top>
		<td align=center valign=center colspan=5><div align=top>
			<table border=0 cellpadding=0 cellspacing=0 width=500>
				<tr>
					<td colspan=5 height=20>
					</td>
				</tr>


				<tr>
					<td>
						<table border=0 cellpadding=0 cellspacing=0>
<%
i=0
'Query the current comment in COMPCOMM table

cmdContent= new SqlCommand("SELECT CMNT_TEXT,DATE=CONVERT(VARCHAR,CMNT_DATE,101),CMNT_DATE FROM COMPCOMM WHERE CMNT_COMP="&Request.QueryString("Id")&" ORDER BY CMNT_DATE DESC", conn)
Rec0= cmdContent.ExecuteReader()
While Rec0.Read()
	response.write("<tr")
	IF (i Mod 2)=0 THEN response.write(" bgcolor=#E8E8E8")
	response.write("><td >&nbsp;&nbsp;</td><td>"+Rec0("DATE")+"</td><td>&nbsp;&nbsp;</td><td>"+Rec0("CMNT_TEXT")+"</td><td bgcolor=white>&nbsp;&nbsp;</td></tr>")

	i=i+1
End WHILE
Rec0.Close()

conn.Close()
conn1.Close()

%>
						</table>
					</td>
				</tr>
				<tr>
					<td align=center>&nbsp;&nbsp;<textarea CLASS=txtInput name=Comment rows=4 cols=<%IF MSIE THEN%>56<%ELSE%>51<%END IF%>></textarea>&nbsp;&nbsp;<br><br></td></tr>
<tr bgcolor=white><td><center><input type=button class=tpebutton value='SUBMIT' onClick="Javascript:with(window.document){if(Check(document.Form)&&Path.Format(Form)){Form.Submit.value='Submit';Form.submit()}}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<input type=button class=tpebutton value='OK' onClick='Javascript:history.back()'>
					</td>
				</tr>

			</table>
		</td>
	</tr>
</table></form>


<TPE:Web_Box Footer="true" Runat="Server" />
</SPAN>
<TPE:Template Footer="true" Runat="Server" />
<br><bR><br><br><br><bR><br><br><br>
</form>
<script>Path.Start(window)</script>
