<%@ Page Language="VB" %>
<%@ import Namespace="System.Data.SqlClient" %>
<%@ import Namespace="System.Data" %>
<%@ import Namespace="System.Web.Mail" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<%@ Register TagPrefix="TPE" TagName="Web_Box" Src="/include/Box_Template.ascx" %>

<form runat="server" id="Form">
    <TPE:Template PageTitle="Lead Comment" Runat="Server" />
    <!--#include FILE="../include/VBLegacy_Code.aspx"-->

<!--#INCLUDE FILE="../include/Body.inc"-->
<%DIM Str
'Database connection'
 Dim conn as SqlConnection
 Dim cmdContent as SQLCommand
 Dim Rec0 as SqlDataReader
 conn = new SqlConnection(Application("DBconn"))
 conn.Open()

'Query person comment info from person table under Demo database
cmdContent= new SqlCommand("SELECT PERS_CMNT, NAME=PERS_FRST_NAME+' '+PERS_LAST_NAME FROM PERSON WHERE PERS_ID='"&Request.Querystring("Id")&"'", conn)
Rec0= cmdContent.ExecuteReader()
Rec0.Read
IF Rec0(0)<>"" THEN
	Str=Rec0(0)
END IF
%>
<br><br><br><br><br><br><br><br><br>
<center>
<TPE:Web_Box  Heading="Comment " Runat="Server" />
<table border=0 cellpadding=0 cellspacing=0 width=300>


	<tr>
		<td width=298>
		<%=Str%>
		</td>
	</tr>
	<tr>
		<td><center>
<input type=button class=tpebutton value='OK' onClick="javascript:history.back()"></center>
		</td>
	</tr>
	
</table>
<TPE:Web_Box Footer="true" Runat="Server" />
</center>
<%
Rec0.Close()
conn.Close()
%>
<br><br><br><br><br><br><br><br>

<TPE:Template Footer="true" Runat="Server" />

</form>
