<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="newCRM.aspx.cs" Inherits="localhost.Administrator.newCRM" MasterPageFile="~/MasterPages/Menu.Master"%>
<%@ MasterType VirtualPath="~/MasterPages/Menu.Master" %>

<asp:Content ContentPlaceHolderID=cphMain runat=server>
    <asp:TreeView ID="TreeView1" runat="server">
        <Nodes>
            <asp:TreeNode Checked="True" Expanded="True" Text="New Node" Value="New Node" >
                <asp:TreeNode Text="New Node" Value="New Node"></asp:TreeNode>
            </asp:TreeNode>
            <asp:TreeNode Checked="False" Expanded="True" Text="New Node" Value="New Node">
                <asp:TreeNode Text="New Node" Value="New Node"></asp:TreeNode>
            </asp:TreeNode>
            <asp:TreeNode Checked="False" Expanded="True" Text="New Node" Value="New Node">
                <asp:TreeNode Text="New Node" Value="New Node"></asp:TreeNode>
            </asp:TreeNode>
        </Nodes>
        
    </asp:TreeView>

</asp:Content>