<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<%@ Register TagPrefix="WRSection" TagName="Template" Src="/include/WeeklyReviewSection.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
    <title>NewWRNotepad</title>
<meta content="Microsoft Visual Studio .NET 7.1" name=GENERATOR>
<meta content=C# name=CODE_LANGUAGE>
<meta content=JavaScript name=vs_defaultClientScript>
<meta content=http://schemas.microsoft.com/intellisense/ie5 name=vs_targetSchema>
  </HEAD>
<body MS_POSITIONING="GridLayout">
<form id=Form1 method=post runat="server">

    <TPE:TEMPLATE id=Template1 Width="780" PageTitle="Market Update" Runat="Server"></TPE:TEMPLATE>
    <WeeklyReviewSection id=ws runat=Server></WeeklyReviewSection>
    
	<TPE:TEMPLATE id=Template2 Runat="Server" Footer="true"></TPE:TEMPLATE></form>
	
  </body>
</HTML>
