<%@ Page language="c#" Codebehind="testForm.aspx.cs" AutoEventWireup="false" Inherits="localhost.Administrator.testForm" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>:: The Plastics Exchange - Market Update :: </title>
	</HEAD>
	<BODY>
		<table id='Table2' cellSpacing='0' cellPadding='0' width='730' border='0' align='center'>
			<tr>
				<td bgcolor="#000000"><img src='http://www.theplasticsexchange.com/images/1x1.gif' width="1">
				<td>
					<table id='table1' cellSpacing='0' cellPadding='0' width='100%' border='0'>
						<tr>
							<td bgcolor='black' height='1'></td>
						</tr>
						<tr>
							<td valign='top'>
								<!-- BEGIN OF `TPE LOGO` and `GRADIENT BACKGROUND PIC` -->
								<table id='AutoNumber1' cellSpacing='0' cellPadding='0' width='100%' border='1'>
									<tr>
										<td width='450' height='50' bgcolor='black'>
											<a href='http://www.theplasticsexchange.com/default.aspx' target='_blank'><IMG SRC='http://www.theplasticsexchange.com/pics/Logo_Black.gif' alt='The Plastics Exchange'
													border='0'></a>
										</td>
									</tr>
								</table>
								<!-- END OF `TPE LOGO` and `GRADIENT BACKGROUND PIC` -->
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</table>
		<!-- END OF `CONTENT OF THE INVOICE` HERE -->
		<table id='Table2' cellSpacing='0' cellPadding='0' width='730' border='0' align='center'>
			<tr>
				<!-- BEGIN `INVOICE FOOTER` -->
				<td bgcolor='#464646' height='15' align='center' width='100%'>
					<font face='Verdana,Arial' size='1' color='white'>710 North Dearborn Chicago, IL 
						60610 | <b>Tel:</b> 800.850.2380 | <b>Fax:</b> 312.202.0174</font>
					<CENTER></CENTER>
				</td>
				<td></td>
			<!-- BEGIN CLOSE CONTAINER TABLE -->
			<tr>
				<td bgcolor='black' width='100%' height='2'></td>
			</tr>
			</TD>
			<TR>
				<td bgcolor="#000000"><img src='http://www.theplasticsexchange.com/images/1x1.gif' width="1"></td>
			</TR>
		</table>
	</BODY>
</HTML>
