<%@ Page language="c#" Codebehind="WebTrends.aspx.cs" AutoEventWireup="True" Inherits="localhost.Administrator.WebTrends" MasterPageFile="~/MasterPages/Menu.Master" Title="Web Trends" %>
<%@ MasterType VirtualPath="~/MasterPages/Menu.Master" %>

<asp:Content runat="server" ContentPlaceHolderID="cphMain">
		
		
			 <div style="width:780px" class="DivTitleBarMenu"><span class="Header Bold Color1">In order to view web statistics, please follow these steps</span></div>
			<div style="width:400px; text-align:left">
			    <ol><br />
					<span class="Content Color2 Left"><LI>Copy the following password:</span><span class="Content Color3 Bold">633*2883c!<br /></LI></span>
					<span class="LinkNormal Left"><LI><a href="http://ondemand.webtrends.com/login.asp?username=TPE&amp;account=TPE&amp;vKey=WT729LYZ" target=_blank>Click here to login</a><br /></LI></span>
					<span class="LinkNormal Left"><LI>Paste the password to log into the system.<br /></LI></span>
					<span class="LinkNormal Left"><li>Click 'Profiles & Reports' on the left hand side<br /></li></span>
				</ol>
			</div>
		

</asp:Content>