.ListHeadlineBold {
	font-weight: bold;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size : 11px;
	color : #000000;
	background-color: #ededed;
	border-color : #999999;
	border-style : solid none solid none;
	border-width : 1px;
	padding : 2px 0px 2px 0px;
}
.TableHeader
{
	BACKGROUND-COLOR : #BEB8A2;
    font-weight: bold;
    color:#4B4B4B;
    FONT-SIZE: 16px;
}
.DataGrid
{
    background-color="#eeeeee"
}

.DataListHeader
{
    FONT-SIZE: 12px;
    font-weight: bold;
    background-color:#BEB8A2;
    color:Black;
    height:14
}

.DataGridHeader
{
    FONT-SIZE: 12px;
    font-weight: bold;
    background-color:#BEB8A2;
    color:Black;
    text-align:center;
    height:14
}
.DataGridRow
{
    FONT-SIZE: 8pt;
    font-family:verdana,arial;


}
.DataGridRow_Alternate
{	 FONT-SIZE: 8pt;
    font-family:verdana,arial;
    background-color:#D9D7D3;
}

.DataGrid2
{
    background-color:"#D9D7D3";
    border-color : #000000;
	border-style : solid;
	border-width : 1px;
}

.DataGridRow2
{
    FONT-SIZE: 8pt;
    font-family:verdana,arial;
}

.DataGridRow_Alternate2
{	 FONT-SIZE: 8pt;
    font-family:verdana,arial;
    background-color:#FFFFFF;
}


P, TD, UL, LI, CENTER
{
    font-weight: normal;
	text-decoration: none;
	font-size: xx-small;
	color:#000000;
	font-family: verdana, arial, helvetica, sans-serif;
	font-style: normal
}

A
{
    font-weight: bold;
	text-decoration: none;
	font-size: xx-small;
	color:#4B4B4B;
	font-family: verdana, arial;
	font-style: normal
}

A:hover
{
	color: #FF0000;
	font-weight: bold;
	text-decoration: underline
}

.small
{font-size: 7pt}

.tiny {	font-size: 6pt }

.big {  font-size: 14pt}

.topnavlinks:hover
{	font-weight: bold;
		text-decoration: underline;
		font-size: xx-small;
		color:#CC6600;
		font-family: verdana, arial;
		font-style: normal
}
.topnavlinks
{	font-weight: bold;
		text-decoration: none;
		font-size: xx-small;
		color:#FFFFFF;
		font-family: verdana,arial ;
		font-style: normal
}
.HomePageMainLinks:hover
{	font-weight: bold;
		text-decoration: underline;
		font-size: x-small;
		color:#CC6600;
		font-family: verdana, arial;
		font-style: normal
}
.HomePageMainLinks
{	font-weight: bold;
		text-decoration: none;
		font-size: x-small;
		color:#000000;
		font-family: verdana,arial ;
		font-style: normal
}


 .searchbox
 {
	height:17px;
    width:90px;
	font-size:xx-small;
	font-family:Verdana
 }


.scrollbarstyle
{
    scrollbar-3d-light-color:grey;
    scrollbar-arrow-color:white;
    scrollbar-base-color:#660000;
    scrollbar-dark-shadow-color:black;
    scrollbar-face-color:grey;
    scrollbar-highlight-color:white;
    scrollbar-shadow-color:white;
}





.PageHeader
{
    FONT-SIZE: 16px
    //font-weight: bold;
	font-size: large;
	color:#CC6600;
	font-family: verdana, arial;
	font-style: normal
    text-align:center;

}
.PageHeaderbis
{
    FONT-SIZE: 10px
	color:#BEB8A2;
	
	font-family: verdana, arial;
	font-style: normal
    text-align:center;
}












.DataEntryTableLabel 
{
	FONT-WEIGHT: bold;
	FONT-SIZE: 10px;
	TEXT-TRANSFORM: capitalize;
	BACKGROUND-COLOR: #dbdcd7;
	
	
}
.DataEntryTableContent
{
	FONT-SIZE: 10px;
	COLOR: #616c9a;
	HEIGHT: 23px;
	BACKGROUND-COLOR: #f5f5f5
}
