<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CHartHDPE.aspx.cs" Inherits="localhost.Public.CHartHDPE" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
  <head>
    <title>HDPE Chart</title>
        <style type="text/css">
            div.pic{
                  position:relative;
                  display:block;                                                                              
                  float:left;
                  
                }

            div.pic span.logo{
                          visibility:visible;
                          position:absolute;
                          left:9%;
                          top:2%;                         
                        }          
                        
            div.pic span.label2{
                          visibility:visible;
                          position:absolute;
                          left:7%;
                          top:4%;                         
                        }      

        </style>
  </head>
  <body>
	
    <form>    
        <div class="pic">        
        <img src="/Research/Charts/B_Chart_3_1Y.png" alt="" class="chart"/>
        <span class="logo">     
        <img src="logo.gif" alt="" width="33" height="30" />   
        </span>    
        <span class="label2">     
        <img src="label11.gif" alt="" width="200" height="60" />   
        </span> 
        </div>

     </form>
	
  </body>
</html>
