<%@ Page Language="C#" %>
<script runat="server">

    private void Page_Load(object sender, System.EventArgs e)
		{
			Response.Redirect("/default.aspx");
			// Put user code to initialize the page here
		}

</script>
<html xmlns="http://www.w3.org/1999/xhtml">
<head><title></title></head>
<body></body>
</html>