<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="newRegistration.aspx.cs" Inherits="localhost.Public.newRegistration" MasterPageFile="~/MasterPages/Template.Master"%>
<%@ MasterType  virtualPath="~/MasterPages/Template.Master"%>



<asp:Content ID="Content1" runat=server ContentPlaceHolderID="cphInstructions">

<table class='InstructionBullets'>

    <tr>
        <td width=35><img src='../pics/bullet.gif'/></td>
        <td>Please complete the following form to gain immediate access to our live spot offers and receive our Monthly Market Update by email.</td>
     </tr>
     <tr>
        <td width=35><img src='../pics/bullet.gif'/></td>
        <td>You may also elect to receive email offers, customized for those resins you select.</td>
     </tr>
     <tr>
        <td width=35><img src='../pics/bullet.gif'/></td>
        <td>So please provide accurate information and select only those resins that you wish to monitor.  You may change your preferences in the future.</td>
     </tr>
     <tr>
        <td width=35><img src='../pics/bullet.gif'/></td>
        <td>You will need to apply for credit before confirming any purchases.</td>
     </tr>
   </table>
</asp:Content>


<asp:Content runat=server ContentPlaceHolderID="cphMain">
<div align=center>
test
</div>
</asp:Content>
