<%@ Register TagPrefix="TPE" TagName="Web_Box" Src="/include/Box_Template.ascx" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<%@ Page language="c#" Codebehind="Research_Feed_Instruct.aspx.cs" AutoEventWireup="false" Inherits="localhost.Public.HowToQuote" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
	<HEAD>
		<title>HowToQuote</title>
		<meta content="Microsoft Visual Studio .NET 7.1" name="GENERATOR">
		<meta content="C#" name="CODE_LANGUAGE">
		<meta content="JavaScript" name="vs_defaultClientScript">
		<meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
		<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
		<style type="text/css">BODY { MARGIN: 0px }
		</style>
	</HEAD>
	<body MS_POSITIONING="GridLayout">
		<form id="Form1" method="post" runat="server">
			<TPE:TEMPLATE id="TemplateQ" Runat="server" PageTitle=""></TPE:TEMPLATE>
			<table width="720" height="288" border="0" align="center" cellpadding="0" cellspacing="0">
				<tr>
					<td width="30" height="88" align="left">&nbsp;</td>
					<td width="690" align="left" valign="top"><p>&nbsp;</p>
						<p>Are you looking for a simple way to add quality market information to your site?  It is now free and easy!
						Just cut-and-paste the following code into your site and within minutes you will have dynamic content that works seamlessly with your site design.
					</td>
				</tr>
				<tr>
					<td height="200" colspan="2" align="center" valign="middle">
						<P>&nbsp;</P>
						<P>
							<asp:TextBox id="codeText" runat="server" ReadOnly="True" TextMode="MultiLine" Width="500px"
								Height="150px"></asp:TextBox>&nbsp;</P>
						
					</td>
				</tr>
			</table>
			<TPE:Template Footer="true" Runat="server" id="Template3" /></form>
	</body>
</HTML>
