<%@ Page language="c#" Codebehind="SwipeCard.aspx.cs" AutoEventWireup="false" Inherits="localhost.Public.SwipeCard" %>
<%@ Register TagPrefix="TPE" TagName="Template" Src="/include/Template.ascx" %>
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" >
<HTML>
  <HEAD>
		<title>SwipeCard</title>
<SCRIPT language=javascript>
function getChar(evnt)
{
		var code = evnt.keyCode;
		txt=String.fromCharCode(code); //the entered character
		if(txt != '\r')
		{
			if(document.card_data == null){
				document.card_data = "";
			}

			if(txt == "&")
			{
				document.card_data += "";
				
			}
			else
			{
				document.card_data += txt;
			}
/*
			document.card_data += txt;
			*/
			
		}
		else
		{	
				data = document.card_data;
				document.card_data = "";
				document.mainForm.action = document.mainForm.action + "?card_data=" + data;
				document.mainForm.submit();
				
		}
		evnt.keyCode = 0;
		return;
}
		</SCRIPT>

<meta content="Microsoft Visual Studio .NET 7.1" name=GENERATOR>
<meta content=C# name=CODE_LANGUAGE>
<meta content=JavaScript name=vs_defaultClientScript>
<meta content=http://schemas.microsoft.com/intellisense/ie5 name=vs_targetSchema>
  </HEAD>
<body onkeypress="getChar(event);">
<form  id=mainForm method=post 
encType="application/x-www-form-urlencoded" runat="server" action="/Public/SwipeCard.aspx">
<TPE:TEMPLATE id=Template1 PageTitle="" Runat="Server" width="780"></TPE:TEMPLATE><IMG src="/Pics/npebanner.bmp"> <br><asp:panel 
id=pnlSwipe tabIndex=1 Runat="server" ><INPUT type=hidden 
name=card_data value="">
<asp:Label id=lblSwipeTitle tabIndex=1 Runat="server"><b>Please swipe card</B></asp:Label></asp:panel> <asp:panel id=pnlRegister Runat="server">
<asp:Label id=lblCardData Runat="server" TabIndex=1 Font-Bold="true"></asp:Label></asp:panel><TPE:TEMPLATE id=Template2 Runat="Server" Footer="true"></TPE:TEMPLATE></form>
</body>
</HTML>
