<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Xml_Test.aspx.cs" Inherits="localhost.Public.Xml_Test" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>Untitled Page</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        &nbsp;<asp:DataList ID="DataList1" runat="server" DataKeyField="MAI_MAIL" DataSourceID="SqlDataSource1">
            <ItemTemplate>
                MAI_MAIL:
                <asp:Label ID="MAI_MAILLabel" runat="server" Text='<%# Eval("MAI_MAIL") %>'></asp:Label><br />
                MAI_DATE:
                <asp:Label ID="MAI_DATELabel" runat="server" Text='<%# Eval("MAI_DATE") %>'></asp:Label><br />
                <br />
            </ItemTemplate>
        </asp:DataList><asp:SqlDataSource ID="SqlDataSource1" runat="server" ConnectionString="Data Source=LEE2;Initial Catalog=Production;Persist Security Info=True;User ID=sa;Password=austerlitz"
            ProviderName="System.Data.SqlClient" SelectCommand="SELECT [MAI_MAIL], [MAI_DATE] FROM [mailing]">
        </asp:SqlDataSource>
    </div>
    </form>
</body>
</html>
